<%= f.tr_text_field :fee_code, label: 'Code', req: true, style: 'width: 80px;' %>
<%= f.tr_text_field :facility_type, label: 'Facility Type', req: true %>
<script>
	$('#obj_facility_type').autocomplete({
		minLength: 0, source: <%= raw @model.where('facility_type != ""').order('facility_type').pluck('distinct facility_type').to_json %>,
	}).focus(function() { $(this).autocomplete('search', $(this).val()); });
</script>
<tr>
	<th>Fee Info</th>
	<td class="subform">
		<table>
			<tr>
				<th class="tr">Base Fee</th>
				<th class="tr">Add'l Fee</th>
			</tr>
			<tr>
				<td><%= f.text_field :fee, class: 'n2', style: 'width: 80px;' %></td>
				<td><%= f.text_field :additional_fee, class: 'n2', style: 'width: 80px;' %></td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Capacity/Units</th>
	<td class="subform">
		<table>
			<tr>
				<th class="tr">Min</th>
				<th class="tr">Max</th>
			</tr>
			<tr>
				<td><%= f.text_field :min, class: 'n0', style: 'width: 80px;' %></td>
				<td><%= f.text_field :max, class: 'n0', style: 'width: 80px;' %></td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>