<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Facility Type', o.facility_type %>
	<%= dl 'Code', o.fee_code %>
	<%= dl 'Description', o.description %>
</div>
<div class="view">
	<%= dl 'Fee', n2(o.fee) %>
	<%= dl 'Additional Fee', n2(o.additional_fee) %>
	<%= dl 'Min', n0(o.min) %>
	<%= dl 'Max', n0(o.max) %>
</div>