<!DOCTYPE html>
<html>
<head>
  <title>File Manager</title>

<link rel="stylesheet" type="text/css" media="screen" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>


  <script type="text/javascript" src="<%= root_url %>elfinder-2.1.25/js/elfinder.min.js"></script>
  <script src="<%= root_url %>elfinder-2.1.25/js/proxy/elFinderSupportVer1.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="<%= root_url %>elfinder-2.1.25/js/i18n/elfinder.de.js"></script><!-- optional -->

  <link rel="stylesheet" type="text/css" media="screen" href="<%= root_url %>elfinder-2.1.25/css/elfinder.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="<%= root_url %>elfinder-2.1.25/css/theme.css">
</head>
<body>


<div id="elfinder"></div>

<script type="text/javascript">
  $().ready(function() {
    var elf = $('#elfinder').elfinder({
      // set your elFinder options here
      url: '<%= root_url %>elfinder/elfinder',  // connector URL
      transport : new elFinderSupportVer1(),

			getFileCallback : function(file, fm) {
				window.opener.CKEDITOR.tools.callFunction((function() {
					var reParam = new RegExp('(?:[\?&]|&amp;)CKEditorFuncNum=([^&]+)', 'i') ;
					var match = window.location.search.match(reParam) ;
					return (match && match.length > 1) ? match[1] : '' ;
				})(), file.url);
				fm.destroy();
				window.close();
			},
    }).elfinder('instance');
  });
</script>

</body>
</html>