<div class="btns">
	<% if !o.receipt.blank? %>
		<%= link_to fa('file-text', 'Receipt'), {action: :receipt, id: o.id}, target: '_blank' %>
	<% end %>
	<%= link_to fa('code', 'Raw Request'), {action: :raw_request, id: o.id}, target: '_blank' %>
	<%= link_to fa('code', 'Raw Response'), {action: :raw_response, id: o.id}, target: '_blank' %>
</div>
<div class="view dl-inline">
	<%= dl 'Created From', o.source ? link_to(o.source.label, {context: nil, controller: :qb_transactions, action: :view, id: o.source.id}) : 'None' %>
</div>
<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Created', o.created_at.dt %>
	<%= dl 'Type', o.type_and_name %>
	<%= dl 'Amount', o.dollar_amount %>
	<%= dl 'Approved?', yn(o.transaction_approved) %>
	<%= dl 'Authorization #', o.authorization_num %>
	<%= dl 'Transaction Tag', o.transaction_tag %>
	<%= dl 'Transarmor Token', o.transarmor_token %>
</div>
<div class="view">
	<%= dl 'Card Type', o.card_type %>
	<%= dl 'Card Name', o.card_name %>
	<%= dl 'Card Last 4', o.card_last4 %>
</div>
<% if o.previous %>
	<div class="view">
		<%= dl 'Prev Authorization #', link_to(blank_tag(o.prev_authorization_num), action: :view, id: o.previous_id) %>
		<%= dl 'Prev Type', o.prev_type_and_name %>
		<%= dl 'Prev Transaction Tag', o.prev_transaction_tag %>
		<%= dl 'Prev Transarmor Token', o.prev_transarmor_token %>
	</div>
<% end %>
<div class="view">
	<%= dl 'Bank Code', o.bank_code %>
	<%= dl 'Bank Message', o.bank_message %>
	<%= dl 'Exact Code', o.exact_code %>
	<%= dl 'Exact Message', o.exact_message %>
	<%= dl 'Response Code', o.response_code %>
</div>
<div class="view">
	<% if o.next_posts.empty? %>
		<dl><dt>Posts Referencing This Post</dt><dd>None</dd></dl>
	<% else %>
		<dl style="float: none;"><dt>Posts Referencing This Post</dt></dl>
		<table class="sheet wrap">
			<tr>
				<th>ID</th>
				<th>Created</th>
				<th>Aprv</th>
				<th>Type</th>
				<th class="tr">Amt</th>
				<th>Auth #</th>
			</tr>
			<% o.next_posts.order('created_at desc').each { |n| %>
				<tr>
					<td><%= n.id %></td>
					<td><%= link_to blank_tag(n.created_at.dt), action: :view, id: n.id %></td>
					<td><%= yn n.transaction_approved %></td>
					<td><%= n.type_and_name %></td>
					<td class="tr"><%= n2 n.dollar_amount %></td>
					<td><%= n.authorization_num %></td>
				</tr>
			<% } %>
		</table>
	<% end %>
</div>