<div class="view">
  <%= dl 'SuperRecordNumber', o.id %>
  <%= dl 'LastName', o.last_name %>
  <%= dl 'FirstName', o.first_name  %>
  <%= dl 'FirstPhone', o.first_phone%>
  <%= dl 'SecondPhone',  o.second_phone %>
</div>

