<% if @obj.new_record? %>
	<tr>
		<th style="width: 110px;">Division/Type <span class="req">*</span></th>
		<td class="subform">
			<table>
				<tr id="division_type_head">
					<th>Division</th>
					<th>Sales</th>
					<th>Accounts Receivable</th>
				</tr>
				<tr>
					<td id="obj_division">
						<span class="lbl-chk-grp">
							<label class="lbl-chk"><%= f.radio_button :division, 'Food' %><span class="lbl lbl-division-food">Food</span></label>
							<label class="lbl-chk"><%= f.radio_button :division, 'TR' %><span class="lbl lbl-division-tr">TR</span></label>
							<label class="lbl-chk"><%= f.radio_button :division, 'Eng' %><span class="lbl lbl-division-eng">Eng</span></label>
							<label class="lbl-chk"><%= f.radio_button :division, 'ME' %><span class="lbl lbl-division-me">ME</span></label>
						</span>
					</td>
					<td class="obj_type">
						<span class="lbl-chk-grp">
							<label class="lbl-chk"><%= f.radio_button :type, 'Sales Receipt' %><span class="lbl lbl-qbtype-sales-receipt">Sales Receipt</span></label>
							<label class="lbl-chk"><%= f.radio_button :type, 'Refund' %><span class="lbl lbl-qbtype-refund">Refund</span></label>
						</span>
					</td>
					<td class="obj_type">
						<span class="lbl-chk-grp">
							<label class="lbl-chk"><%= f.radio_button :type, 'Invoice' %><span class="lbl lbl-qbtype-invoice">Invoice</span></label>
							<label class="lbl-chk"><%= f.radio_button :type, 'Payment' %><span class="lbl lbl-qbtype-payment">Payment</span></label>
							<label class="lbl-chk"><%= f.radio_button :type, 'AR Refund' %><span class="lbl lbl-qbtype-ar-refund">AR Refund</span></label>
						</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
<% end %>
<%= f.tr_text_field :num, label: "#{o.type} #", style: 'width: 100px;', after: ' (leave blank to auto-generate)' %>
<%= f.tr_text_field :date, class: 'date', value: o.date.d, label: 'Date', autocomplete: 'off' %>
<% if !o.type.blank? %>
	<%= f.tr_select :qb_customer_id, o.qb_customer ? [[o.qb_customer.full_path, o.qb_customer_id, title: ' ']] : [], {label: 'Customer'}, style: 'width: 400px;' %>
	<% if o.type.in?(['Payment', 'AR Refund']) %>
		<%= f.tr_select :qb_account2_id, o.qb_account ? [[o.qb_account.full_path, o.qb_account_id, title: ' ']] : [], {label: 'From Account'}, style: 'width: 400px;' %>
	<% end %>
	<%= f.tr_select :qb_account_id, o.qb_account ? [[o.qb_account.full_path, o.qb_account_id, title: ' ']] : [], {label: 'To Account'}, style: 'width: 400px;' %>
	<% if o.type == 'Refund' %>
		<%= f.tr_select :previous_id, o.previous ? [[o.previous.label, o.previous_id, title: ' ']] : [], {label: 'Refunding'}, style: 'width: 400px;' %>
	<% end %>
	<% if o.sales_receipt? || o.invoice? %>
		<% tpl_opts = QbTemplate.where(active: true) %>
		<% tpl_opts = tpl_opts.or(QbTemplate.where id: o.qb_template_id) if o.qb_template %>
		<%= f.tr_select :qb_template_id, tpl_opts.map { |t| [t.name, t.id] }, include_blank: true, label: 'Template' %>
		<% if o.invoice? %>
			<%= f.tr_text_field :due_date, class: 'date', value: o.due_date.d, label: 'Due Date', autocomplete: 'off' %>
		<% end %>
		<%= partial 'invoice_details_fields', o: o, f: f %>
	<% end %>
	<%= f.tr_text_field :cost_center, label: 'Cost Center' %>
	<%= f.tr_text_field :debit_ledger, label: 'Debit Ledger' %>
	<%= f.tr_text_field :credit_ledger, label: 'Credit Ledger' %>	
	<% if o.type.in?(['Payment', 'Refund', 'AR Refund']) %>
		<%= f.tr_text_field :amount, label: 'Amount', class: 'n2' %>
	<% end %>
	<% if o.type.in?(['Payment', 'AR Refund']) %>
		<%= f.tr_text_field :split_amount, label: 'Split Amount', value: o.split_amount, class: 'n2', after: ' (amount of payment that cannot be applied to billed items)' %>
	<% end %>
	<% if o.type.in?(['Payment', 'Sales Receipt', 'Refund', 'AR Refund']) %>
		<tr>
			<th>Pay Method</th>
			<td id="obj_pay_method">
				<label><%= f.radio_button :pay_method, 'Cash' %> Cash</label>&nbsp;&nbsp;
				<label><%= f.radio_button :pay_method, 'Check' %> Check</label>&nbsp;&nbsp;
				<label><%= f.radio_button :pay_method, 'CC' %> CC</label>&nbsp;&nbsp;
				<% if o.type == 'Payment' %>
					<label><%= f.radio_button :pay_method, 'Credit' %> Credit</label>&nbsp;&nbsp;
				<% end %>
				<% if false %><label><%= f.radio_button :pay_method, 'Transfer' %> Transfer</label>&nbsp;&nbsp;<% end %>
			</td>
		</tr>
		<tr class="method-cc" style="display: none;">
			<th>Card Info</th>
			<td id="obj_cc_option">
				<% if o.type == 'Refund' %>
					<label><%= f.radio_button :cc_option, 'Void', data: {cc: 'prev'} %> Void</label>&nbsp;&nbsp;
					<label><%= f.radio_button :cc_option, 'Tagged Refund', data: {cc: 'prev'} %> Tagged Refund</label>&nbsp;&nbsp;
					<label><%= f.radio_button :cc_option, 'Token Refund', data: {cc: 'prev'} %> Token Refund</label>&nbsp;&nbsp;
					<label><%= f.radio_button :cc_option, 'New CC Refund', data: {cc: 'new'} %> New CC Refund</label>
				<% else %>
					<label><%= f.radio_button :cc_option, 'New CC', data: {cc: 'new'} %> New CC</label>&nbsp;&nbsp;
					<label><%= f.radio_button :cc_option, 'Previous CC', data: {cc: 'prev'} %> Previous CC</label>
				<% end %>
			</td>
		</tr>
		<tr class="cc-prev">
			<th></th>
			<td>
				<%= f.select :cc_previous_id, o.cc_previous_id ? [[o.cc_previous.label, o.cc_previous_id, title: ' ']] : [], {include_blank: 'Previous Transaction...'}, style: 'width: 400px;' %>
			</td>
		</tr>
		<tr class="cc-new">
			<th></th>
			<td class="subform">
				<table>
					<tr>
						<th>Card Number</th>
						<th>Name on Card</th>
						<th>Exp. Date</th>
						<th>Security Code</th>
					</tr>
					<tr>
						<td><%= f.text_field :cc_no, style: 'width: 140px;' %></td>
						<td><%= f.text_field :cc_name, style: 'width: 200px;' %></td>
						<td><%= f.text_field :cc_exp, style: 'width: 60px;', placeholder: 'MM/YY' %></td>
						<script>$('#obj_cc_exp').inputmask({alias: 'datetime', inputFormat: 'mm/yy', placeholder: 'MM/YY'})</script>
						<td><%= f.text_field :cc_code, style: 'width: 60px;' %></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="method-check" style="display: none;">
			<th>Check #:</th>
			<td><%= f.text_field :check_no, style: 'width: 100px;' %></td>
		</tr>
	<% end %>
	<% if o.type.in?(['Payment', 'AR Refund']) %>
		<tr>
			<%= hidden_field_tag 'obj[check_new_payment_for_ids]', 1 %>
			<th>Apply To</th>
			<td class="subform">
				<table class="sheet">
					<thead id="unpaid-thead">
						<tr>
							<th></th>
							<th>#</th>
							<th>Type</th>
							<th>Date</th>
							<th>Customer</th>
							<th>Name</th>
							<th>Description</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody id="unpaid">
						<%= partial 'payment_for_ids_fields', {o: o, f: f} %>
					</tbody>
				</table>
			</td>
		</tr>
	<% end %>
	<% if o.type == 'Refund' %>
		<tr>
			<%= hidden_field_tag 'obj[check_new_refund_items]', 1 %>
			<th>Apply To</th>
			<td class="subform">
				<table class="sheet">
					<thead id="refunds-thead">
						<tr>
							<th></th>
							<th>CC</th>
							<th>GL</th>
							<th>Type</th>
							<th>Description</th>
							<th>Orig. Amt.</th>
							<th>Refund Amt.</th>
						</tr>
					</thead>
					<tbody id="refunds">
						<%= partial 'refund_items_fields', {o: o, f: f} %>
					</tbody>
					<tbody>
						<tr>
							<th colspan="6" class="tr">Total:</th>
							<th class="tr"><span id="new_amount"><%= n2 o.amount %></span><%= f.hidden_field :new_amount, value: o.amount %></th>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	<% end %>	
	<%= f.tr_text_field :memo, label: 'Memo' %>
	<% if o.type.in? ['Invoice', 'Sales Receipt'] %>
		<%= f.tr_text_field :def_revenue_date, value: o.def_revenue_date.d, class: 'date', label: 'Def. Rev. Date' %>
		<tr>
			<% td = o.transaction_document %>
			<th><%= o.type %> PDF</th>
			<td>
				<div id="doc_generate"><label><%= f.check_box :doc_generate %> <% if td %>Regenerate<% else %>Generate<% end %> <%= o.type %> PDF</label></div>
				<% if td %>
					<div id="doc_existing_overwrite"><label><%= f.check_box :doc_existing_overwrite %> Overwrite Existing <%= o.type %> PDF (if unchecked, old PDF will remain in documents)</label></div>
				<% end %>				
				<div id="doc_deliver"><label><%= f.check_box :doc_deliver %> Add New <%= o.type %> PDF to Delivery Queue</label></div>
				<% if td %>
					<div id="doc_existing_deliver">
						<% if td.doc_delivery %>
							Existing <%= o.type %> PDF has already been delivered.
						<% else %>
							<label><%= f.check_box :doc_existing_deliver %> Deliver Existing <%= o.type %> PDF</label>
						<% end %>
					</div>
				<% end %>
			</td>
		</tr>
	<% end %>
<% end %>