<tr>
	<th style="width: 110px;">Division/Type <span class="req">*</span><%= hidden_field_tag 'obj[process_form]', '1' %></th>
	<td class="subform">
		<table>
			<tr id="division_type_head">
				<th>Division</th>
				<% if o.new_record? %>
					<th>Sales</th>
					<th>Accounts Receivable</th>
				<% else %>
					<th>&nbsp;&nbsp;Type</th>
				<% end %>
			</tr>
			<tr>
				<td>
					<%= partial 'division_field_chk_grp', f: f %>
				</td>
				<% if o.new_record? %>
					<td class="obj_type">
						<span class="lbl-chk-grp">
							<label class="lbl-chk"><%= f.radio_button :type, 'Sale' %><span class="lbl lbl-qbttype-sale">Sale</span></label>
							<label class="lbl-chk"><%= f.radio_button :type, 'Refund' %><span class="lbl lbl-qbttype-refund">Refund</span></label>
						</span>
					</td>
					<td class="obj_type">
						<span class="lbl-chk-grp">
							<label class="lbl-chk"><%= f.radio_button :type, 'Invoice' %><span class="lbl lbl-qbttype-invoice">Invoice</span></label>
							<label class="lbl-chk"><%= f.radio_button :type, 'Payment' %><span class="lbl lbl-qbttype-payment">Payment/Credit</span></label>
							<label class="lbl-chk"><%= f.radio_button :type, 'AR Refund' %><span class="lbl lbl-qbttype-ar-refund">AR Refund</span></label>
						</span>
					</td>
				<% else %>
					<td>&nbsp;&nbsp;<%= o.type %></td>
				<% end %>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Customer <span class="req">*</span></th>
	<td class="nobr">
		<%= f.select :qb_customer_id, o.qb_customer ? [[o.qb_customer.full_path, o.qb_customer_id, title: ' ']] : [], {}, style: 'width: 600px;' %>
		<%= link_to fa('plus-square'), {action: :new, controller: :qb_customers}, target: '_blank', class: 'green', title: 'New Customer' %>
		<%= link_to fa('external-link-square'), {action: :view, controller: :qb_customers, id: o.qb_customer_id}, target: '_blank', id: 'cust-view', style: (o.qb_customer ? '' : 'display: none;'), title: 'View Customer' %>
		<span title="Customer Balance" id="balance" style="<% if !o.qb_customer %>display: none; <% end %>color:<% if o.qb_customer && o.qb_customer.balance.to_f > 0 %>#800;<% else %>#888;<% end %>">$<%= n2 o.qb_customer&.balance %></span>
	</td>
</tr>
<%= f.tr_select :qb_template_id, o.qb_template ? [["#{o.qb_template.name}", o.qb_template_id, title: ' ']] : [], {label: 'Template', req: true}, style: 'width: 600px;' %>
<tr>
	<th>Date <span class="req">*</span></th>
	<td class="subform">	
		<table>
			<tr>
				<td><%= f.text_field :date, class: 'date', value: o.date.d, autocomplete: 'off' %></td>
				<% if o.invoice? %>
					<th style="width: 148px; text-align: right;">Due Date <span class="req">*</span>&nbsp;</th>
					<td><%= f.text_field :due_date, class: 'date', value: o.due_date.d, autocomplete: 'off' %></td>
				<% end %>
				<% if o.invoice? || o.sale? %>
					<th style="width: 148px; text-align: right;">Deferred Revenue Date&nbsp;</th>
					<td><%= f.text_field :def_revenue_date, class: 'date', value: o.def_revenue_date.d, autocomplete: 'off' %></td>
				<% end %>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_field :num, label: "#{o.type} #", style: 'width: 100px;' %>
<% if !o.type.blank? %>		
	<% if o.refund? %>
		<% pr = o.previous %>
		<%= f.tr_select :previous_id, pr ? [["##{pr.num} - #{pr.date.d} - #{pr.pay_method} - $#{n2(pr.amount)} - #{pr.qb_customer.try(:full_path)}", o.previous_id, title: ' ']] : [], {label: 'Refunding'}, style: 'width: 600px;' %>
	<% end %>
	<% if o.sale? || o.invoice? || o.payment? || o.ar_refund? %>
		<tr>
			<th><% if o.sale? || o.invoice? %>Default<% else %>Cost<% end %> Center</th>
			<td class="subform">	
				<table>
					<tr>
						<td><%= f.text_field :cost_center, style: 'width: 100px;' %></td>
						<th style="width: 148px; text-align: right;"><%= (o.sale? || o.invoice?) ? 'Default Credit GL' : o.payment? ? 'Credit AR' : o.ar_refund? ? 'Debit AR' : '' %>&nbsp;</th>
						<td><%= f.text_field((o.ar_refund? ? :debit_ledger : :credit_ledger), style: 'width: 100px;') %></td>
						<% if o.invoice? %>
							<th style="width: 148px; text-align: right;">Debit AR <span class="req">*</span>&nbsp;</th>
							<td><%= f.text_field :debit_ledger, style: 'width: 100px;' %></td>
						<% end %>
					</tr>
				</table>
			</td>
		</tr>
	<% end %>	
	<style> #obj_new_split_amount { color: #000; } #obj_new_split_amount.error { color: #800; } </style>
	<% if o.invoice? || (o.sale? && !o.payeezy_post_id && !o.sap_exported?) %>
		<%= partial 'invoice_details_fields', o: o, f: f %>
	<% end %>
	<% if o.sap_exported? %>
		<tr>
			<th class="req"><i class="fa fa-warning"></i></th>
			<td class="req">Line items have been exported to SAP. Only certain fields can be edited.</td>
		</tr>
	<% else %>
		<% if o.payeezy_post_id %>
			<tr>
				<th class="req"><i class="fa fa-warning"></i></th>
				<td class="req">Payeezy credit card transaction has been completed. Only certain fields can be edited.</td>
			</tr>
			<% if o.payment? || o.ar_refund? %>
				<tr>
					<th>Amount </th>
					<td class="subform">
						<table>
							<tr>
								<td><%= hidden_field_tag 'amount', o.amount, id: 'obj_amount', disabled: true %><%= n2(o.amount) %></td>
								<th style="width: 148px; text-align: right;">Split Amount&nbsp;</th>
								<td><%= f.text_field :new_split_amount, value: n2(o.split_amount), class: 'n2', value: n2?(o.split_amount), readonly: true %></td>
								<th>($ &gt; sum of items below)</th>
							</tr>
						</table>
					</td>
				</tr>
			<% end %>		
		<% else %>
			<% if o.payment? || o.ar_refund? || o.refund? %>
				<tr>
					<th>Amount </th>
					<td class="subform">
						<table>
							<tr>
								<% if o.payment? || o.ar_refund? %>
									<td><%= f.text_field :amount, class: 'n2', value: n2?(o.amount) %></td>
									<th style="width: 148px; text-align: right;">Split Amount&nbsp;</th>
									<td><%= f.text_field :new_split_amount, value: n2(o.split_amount), class: 'n2', value: n2?(o.split_amount), readonly: true %></td>
									<th>($ &gt; sum of items below)</th>
								<% elsif o.refund? %>							
									<td><%= f.text_field :new_amount, label: 'Amount', class: 'n2', value: n2?(o.amount) %></td>
								<% end %>
							</tr>
						</table>
					</td>
				</tr>
			<% end %>
			<% if o.refund? %>
				<tr>
					<th>Refund Items</th>
					<td class="subform tbl-resize-wrap">
						<table class="sheet tbl-resize" id="refund-table">
							<tbody id="refunds-thead">
								<tr>
									<td width="22"><div><input type="checkbox" id="check-all"></div></td>
									<th width="100"><div>Cost Center</div></th>
									<th width="100"><div>Debit GL</div></th>
									<th width="80"><div>#</div></th>
									<th width="80"><div>Date</div></th>
									<th><div>Item</div></th>
									<th><div>Description</div></th>
									<th width="80" class="tr"><div>Orig $</div></th>
									<th width="80" class="tr"><div>Refund $</div></th>
								</tr>
							</tbody>
							<tbody id="refunds">
								<%= partial 'refund_items_fields', {o: o, f: f} %>
							</tbody>
						</table>
					</td>
				</tr>
			<% end %>		
			<% if o.payment? || o.sale? || o.refund? || o.ar_refund? %>
				<tr>
					<th><% if o.refund? || o.ar_refund? %>Refund<% else %>Pay<% end %> Method <% if o.sale? || o.refund? %><span class="req">*</span><% end %></th>
					<td id="obj_pay_method">
						<span class="lbl-chk-grp">
							<label class="lbl-chk"><%= f.radio_button :pay_method, 'CC' %><span class="lbl lbl-qbpmeth-cc">Credit Card</span></label>
							<label class="lbl-chk"><%= f.radio_button :pay_method, 'Check' %><span class="lbl lbl-qbpmeth-check">Check</span></label>
							<label class="lbl-chk"><%= f.radio_button :pay_method, 'Cash' %><span class="lbl lbl-qbpmeth-cash">Cash</span></label>
							<% if o.type == 'Payment' %>
								<label class="lbl-chk"><%= f.radio_button :pay_method, 'Credit' %><span class="lbl lbl-qbpmeth-credit">Credit</span></label>
							<% end %>
						</span>
						<span class="lbl-chk-grp method-cc" style="<% if !o.pay_cc? %>display: none;<% end %>" id="obj_cc_option">
							<% if o.refund? || o.ar_refund? %>
								<label class="lbl-chk"><%= f.radio_button :cc_option, 'Void', data: {cc: 'prev'} %><span class="lbl lbl-paycc-void">Void</span></label>
								<label class="lbl-chk"><%= f.radio_button :cc_option, 'Tagged Refund', data: {cc: 'prev'} %><span class="lbl lbl-paycc-tagged-refund">Tagged Refund</span></label>
								<label class="lbl-chk"><%= f.radio_button :cc_option, 'Token Refund', data: {cc: 'prev'} %><span class="lbl lbl-paycc-token-refund">Token Refund</span></label>
								<label class="lbl-chk"><%= f.radio_button :cc_option, 'New CC Refund', data: {cc: 'new'} %><span class="lbl lbl-paycc-new-cc-refund">New CC Refund</span></label>
							<% else %>
								<label class="lbl-chk"><%= f.radio_button :cc_option, 'New CC', data: {cc: 'new'} %><span class="lbl lbl-paycc-new-cc">New CC</span></label>
								<label class="lbl-chk"><%= f.radio_button :cc_option, 'Previous CC', data: {cc: 'prev'} %><span class="lbl lbl-paycc-previous-cc">Previous CC</span></label>
							<% end %>
						</span>				
					</td>
				</tr>
				<% new_cc = o.cc_option.in?(['New CC', 'New CC Refund']) %>
				<% prev_cc = o.cc_option.in?(['Void', 'Tagged Refund', 'Token Refund', 'Previous CC']) %>
				<tr class="cc-prev" style="<% if !o.pay_cc? || !prev_cc %>display: none;<% end %>">
					<th>Card Info <span class="req">*</span></th>
					<td>
						<% ccp = o.cc_previous %>
						<%= f.select :cc_previous_id, ccp ? [["##{ccp.num} - #{ccp.date.d} - $#{n2(ccp.amount)} - Card Ending In: #{ccp.cc_last4}", o.cc_previous_id, title: ' ']] : [], {include_blank: 'Select Previous CC Payment...'}, style: 'width: 400px;' %>
					</td>
				</tr>
				<tr class="cc-new" style="<% if !o.pay_cc? || !new_cc %>display: none;<% end %>">
					<th>Card Info <span class="req">*</span></th>
					<td class="subform">
						<table>
							<tr>
								<th>Card Number <span class="req">*</span></th>
								<th>Name on Card <span class="req">*</span></th>
								<th>Exp. Date <span class="req">*</span></th>
								<th>Security Code</th>
							</tr>
							<tr>
								<td><%= f.text_field :cc_no, style: 'width: 140px;' %></td>
								<td><%= f.text_field :cc_name, style: 'width: 200px;' %></td>
								<td><%= f.text_field :cc_exp, style: 'width: 80px;', placeholder: 'MM/YY' %></td>
								<script>$('#obj_cc_exp').inputmask({alias: 'datetime', inputFormat: 'mm/yy', placeholder: 'MM/YY'})</script>
								<td><%= f.text_field :cc_code, style: 'width: 80px;' %></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="method-check" style="<% if !o.pay_check? %>display: none;<% end %>">
					<th>Check # <span class="req">*</span></th>
					<td><%= f.text_field :check_no, style: 'width: 100px;' %></td>
				</tr>
				<% if o.payment? %>
					<tr class="method-credit" style="<% if !o.pay_credit? %>display: none;<% end %>">
						<th>Debit GL</th>
						<td><%= f.text_field :debit_ledger, style: 'width: 100px;' %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
		<% if o.payment? || o.ar_refund? %>
			<tr>
				<th>Apply To</th>
				<td class="subform tbl-resize-wrap">
					<table class="sheet tbl-resize" id="payment-table">
						<thead id="unpaid-thead">
							<tr>
								<td width="22"><input type="checkbox" id="check-all"></td>
								<th><div>#</div></th>
								<th><div>Type</div></th>
								<th><div>Date</div></th>
								<th><div>Customer</div></th>
								<th><div>Center</div></th>
								<th><div>AR</div></th>
								<th><div>GL</div></th>
								<th><div>Item</div></th>
								<th><div>Desc.</div></th>
								<th width="50" class="tr"><div>Price</div></th>
								<th width="50" class="tr"><div>Qty.</div></th>
								<th width="50" class="tr"><div>Amount</div></th>
							</tr>
						</thead>
						<tbody id="unpaid">
							<%= partial 'payment_for_ids_fields', {o: o, f: f} %>
						</tbody>
					</table>
				</td>
			</tr>
		<% end %>
	<% end %>
	<% if o.invoice? %>
		<%= partial 'qb_late_fees/late_fee_fields', o: o, f: f %>	
	<% end %>
	<%= f.tr_text_field :memo, label: 'Memo' %>
	<tr>
		<% td = o.transaction_document %>
		<th><%= o.type %> PDF</th>
		<td>
			<div id="doc_generate"><label><%= f.check_box :doc_generate %> <% if td %>Regenerate<% else %>Generate<% end %> <%= o.type %> PDF</label></div>
			<% if td %>
				<div id="doc_existing_overwrite"<% if !o.doc_generate %> style="display: none;"<% end %>><label><%= f.check_box :doc_existing_overwrite %> Overwrite Existing <%= o.type %> PDF (if unchecked, old PDF will remain in documents)</label></div>
			<% end %>				
			<div id="doc_deliver"<% if !(o.doc_generate && !o.doc_existing_overwrite) %> style="display: none;"<% end %>><label><%= f.check_box :doc_deliver %> Add New <%= o.type %> PDF to Delivery Queue</label></div>
			<% if td %>
				<div id="doc_existing_deliver">
					<% if td.doc_delivery %>
						Existing <%= o.type %> PDF has already been delivered.
					<% else %>
						<label><%= f.check_box :doc_existing_deliver %> Deliver Existing <%= o.type %> PDF</label>
					<% end %>
				</div>
			<% end %>
			<% if o.payment? || o.ar_refund? %>
				<div id="doc_pdf_previous"<% if !o.doc_generate %> style="display: none;"<% end %>>
					<label><%= f.check_box :pdf_previous %> Attach Previous Invoices</label>
				</div>
			<% end %>
		</td>
	</tr>
	<tr id="doc_deliver_via" <% if !((o.doc_deliver && !o.doc_existing_overwrite && o.doc_generate) || o.doc_existing_deliver) %>style="display: none;"<% end %>>
		<th>Deliver Via</th>
		<td class="subform">
			<table>
				<tr>
					<td><label><%= f.radio_button :doc_deliver_via, 'Postal' %> Postal Mail</label>&nbsp;&nbsp;</td>
					<td><label><%= f.radio_button :doc_deliver_via, 'Email' %> Email</label>&nbsp;&nbsp;</td>
					<td><label><%= f.radio_button :doc_deliver_via, 'Both' %> Both</label>&nbsp;&nbsp;</td>
					<td>Email: <%= f.text_field :doc_deliver_email, style: 'width: 200px;' %>&nbsp;&nbsp;</td>
					<td><label><%= f.check_box :save_contact_via %> Save Customer Preference</label></td>
				</tr>
			</table>
		</td>			
	</tr>
<% end %>