<style>
	tr.voided { opacity: .5; background-color: #ccc !important; color: #888; }
</style>
<table class="data">
	<thead>
		<tr>
			<th width="1%" class="nobr"> ID#</th>
			<th width="1%" class="nobr">Insight EMR#</th>
			<th width="1%" class="nobr tr">Total</th>
			<th width="1%" class="nobr">Create At</th>
			<th width="1%" class="nobr">Username</th>
			<th width="1%" class="nobr">Div</th>
		</tr>
	</thead>
	<tbody>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %><% if o.voided %> voided<% end %>">
				<td class="nobr"><% if o.id.to_s != o.num %> <%= o.id %><% end %></td>
				<td class="nobr">
					<%= link_to blank_tag(colon_to_arrow( o.num)), controller: :qb_transactions, action: :view, id: o.id %></td>
				<td class="nobr tr">$<%= n2 o.amount %></td>
				<td class="nobr"><%= o.created_at.to_date %></td>
				<td class="nobr"><%= o.created_by&.username %></td>
				<td class="nobr"><%= o.division %></td>
			</tr>
		<% } %>
	</tbody>
</table>