<style>
	tr.voided { opacity: .5; background-color: #ccc !important; color: #888; }
</style>
<table class="data">
	<thead>
		<tr>
			<th width="1%" class="nobr"> ID#</th>
			<th width="1%" class="nobr">Amount#</th>
			<th width="1%" class="nobr">Payment</th>
			<th width="1%" class="nobr">cc(first_name)</th>
			<th width="1%" class="nobr">cc(last_name)</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %><% if o.voided %> voided<% end %>">
				<td class="nobr"><% if o.id.to_s != o.num %> <%= o.id %><% end %></td>
				<td class="nobr">$<%= n2 o.amount %></td>
				<td class="nobr">
					<%#= link_to blank_tag(colon_to_arrow( o.pay_method)), controller: :qb_transactions, action: :view, id: o.id %>
				<% if o.pay_method == "CC" && o.payeezy_post%>
					<%#= link_to blank_tag(o.payeezy_post.card_name), action: :view, id: o.id %>
					<%= link_to blank_tag(o.pay_method), controller: :payeezy_posts, action: :view, id: o.payeezy_post.id %>
				<%else%>
					<%= o.pay_method %>
					<%end%>
				</td>

				<td class="nobr"><%= o.created_by&.first_name %></td>
				<td class="nobr"><%= o.created_by&.last_name %></td>
			</tr>
		<% } %>
	</tbody>
</table>