<table class="sheet">
		<tr>
			<th>Cost Center</th>
			<th>Credit Ledger</th>
			<th><%= tpl&.label_item_info.presence || 'Info' %></th>
			<th><%= tpl&.label_item_name.presence || 'Item' %></th>
			<th><%= tpl&.label_item_desc.presence || 'Description' %></th>
			<th><%= tpl&.label_item_amount.presence || 'Amount' %></th>
		</tr>
		<tr>
			<%
			
				qb_cost_center = o.send("#{prefix}qb_cost_center")
				cost_center = o.send("#{prefix}cost_center")
				qb_credit_ledger = o.send("#{prefix}qb_credit_ledger")
				credit_ledger = o.send("#{prefix}credit_ledger")
				item_info = o.send("#{prefix}item_info")
				qb_item_price = o.send("#{prefix}qb_item_price")
				item_name = o.send("#{prefix}item_name")
				item_description = o.send("#{prefix}item_description")
				amount = o.send("#{prefix}amount")
			
			%>
			<td class="tl"><%= link_to_if qb_cost_center, cost_center, context: nil, controller: :qb_cost_centers, action: :view, id: qb_cost_center&.id %></td>
			<td class="tl"><%= link_to_if qb_credit_ledger, credit_ledger, context: nil, controller: :qb_ledgers, action: :view, id: qb_credit_ledger&.id %></td>
			<td class="tl"><%= item_info %></td>
			<td class="tl"><%= link_to_if qb_item_price, item_name, context: nil, controller: :qb_item_prices, action: :view, id: qb_item_price&.id %></td>
			<td class="tl"><%= item_description %></td>
			<td class="tr"><%= n2 amount %></td>
		</tr>
	</table>