<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Count', o.qb_transaction_details_count %>
	<%= dl 'Amt', '$' + n2(o.amount) %>
	<%= dl 'Total', '$' + n2(o.total) %>
	<%= dl 'Created', o.created_at.dt %>
	<dl>
		<dt>User</dt>
		<dd><% if o.user %><%= o.user.username %><% else %><span class="dim">System</span><% end %></dd>
	</dl>
</div>
<div class="view">
	<dl style="float: none;"><dt>Defaults</dt></dl>
	<%= partial 'qb_late_fees/default_late_fee', o: o, tpl: nil, prefix: '' %>
</div>
<div class="view">
	<dl>
		<dt>Invoices/Fees</dt>
		<dd>
			<table class="sheet">
				<tr>
					<th><div>Customer</div></th>
					<th><div>Invoice #</div></th>
					<th><div>Total</div></th>
					<th><div>Due</div></th>
					<th><div>Cost Centerdddddddd</div></th>
					<th><div>Credit GL</div></th>
					<th><div>Info</div></th>
					<th><div>Item</div></th>
					<th><div>Description</div></th>
					<th class="tr"><div>Price</div></th>
					<th><div>Document</div></th>
				</tr>
				<% o.qb_transaction_details.eager_load(:qb_transaction, :qb_late_fee_document, :qb_customer, :qb_cost_center, :qb_credit_ledger, :qb_item_price).each { |d| %>
					<tr>
						<%
							t = d.qb_transaction
							c = d.qb_customer
							doc = d.qb_late_fee_document
							cc = d.qb_cost_center
							cl = d.qb_credit_ledger
							ip = d.qb_item_price
						%>
						<td class="tl"><%= link_to_if c, c&.full_path, context: nil, controller: :qb_customers, action: :view, id: c&.id %></td>
						<td class="tl"><%= link_to_if t, t&.num , context: nil, controller: :qb_transactions, action: :view, id: t&.id %></td>
						<td class="tr"><%= n2 t&.amount %></td>
						<td class="tr"><%= t&.due_date.d %></td>
						<td class="tl"><%= link_to_if cc, d.cost_center, context: nil, controller: :qb_cost_centers, action: :view, id: cc&.id %></td>
						<td class="tl"><%= link_to_if cl, d.credit_ledger, context: nil, controller: :qb_ledgers, action: :view, id: cl&.id %></td>
						<td class="tl"><%= d.item_info %></td>
						<td class="tl"><%= link_to_if ip, d.item_name, context: nil, controller: :qb_item_prices, action: :view, id: ip&.id %></td>
						<td class="tl"><%= d.item_description %></td>
						<td class="tr"><%= n2 d.amount %></td>
						<td class="tl"><%= link_to_if doc, doc&.name, {context: :qb_transaction, context_id: t&.id, controller: :documents, action: :download, id: doc&.id}, target: '_blank' %></td>
					</tr>
				<% } %>
			</table>		
		</dd>
	</dl>
</div>