<%= f.tr_select :ve_vehicle_id, VeVehicle.order('ve_vehicles.vehicle_no').where('active = 1').map { |v| ["#{v.vehicle_no} #{v.year_make_model}", v.id] }, include_blank: true, label: 'Vehicle', req: true %>
<%= f.tr_text_field :year, class: 'tr', style: 'width: 60px;', label: 'Year', req: true %>
<%= f.tr_text_field :year_start, class: 'n0', style: 'width: 60px;', label: 'Start Mileage' %>
<tr>
	<th>Month Mileages</th>
	<td class="subform">
		<table class="sheet">
			<tr>
				<th>Jan</th>
				<th>Feb</th>
				<th>Mar</th>
				<th>Apr</th>
				<th>May</th>
				<th>Jun</th>
			</tr>
			<tr>
				<td><%= f.text_field :jan, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :feb, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :mar, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :apr, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :may, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :jun, style: 'width: 60px;', class: 'n0' %></td>
			</tr>
			<tr>
				<th>Jul</th>
				<th>Aug</th>
				<th>Sep</th>
				<th>Oct</th>
				<th>Nov</th>
				<th>Dec</th>
			</tr>
			<tr>
				<td><%= f.text_field :jul, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :aug, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :sep, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :oct, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :nov, style: 'width: 60px;', class: 'n0' %></td>
				<td><%= f.text_field :dec, style: 'width: 60px;', class: 'n0' %></td>
			</tr>
		</table>
	</td>
</tr>
