<table class="data">
	<thead>
		<tr>
			<th>Item number</th>
     	      <th>Serial number</th>
		      <th>Item description</th>
		      <th>Status</th>
		      <th>Date</th>
		      <th>Notes</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.where("nsn_in_inventory is null and status = 'Inventory'").each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= o.id %></td>
				<td class="nobr"><%= o.serial_num %></td>
				<td class="nobr"><%=link_to o.item_dec, :action => :view, :id => o.id %></td>
				<td class="nobr"><%= o.status %></td>
				<td class="nobr"><%= o.status_date %></td>
				<td class="nobr"><%= o.notes %></td>
			</tr>
		<% } %>
	</tbody>
</table>