<div class="view">
  <%= dl 'Item Number', o.id %>
  <%= dl 'Serial Number', o.serial_num %>
  <%= dl 'Item Description', o.item_dec  %>
  <%= dl 'Status', o.status%>
  <%= dl 'Date',  o.status_date %>
</div>
<div class="view">
  <%= dl 'Notes', o.notes %>
</div>
