<h1>List of Inventories</h1>

<table style="width: 100%;" border="0">
  <thead>
    <tr>
      <th>Item number</th>
      <th>Serial number</th>
      <th>Item description</th>
      <th>Status</th>
      <th>Date</th>
      <th>Notes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.id %></td>
        <td><%= inventory.serial_num %></td>
        <td><%= inventory.item_dec %></td>
        <td><%= inventory.status %></td>
        <td><%= inventory.status_date %></td>
        <td><%= inventory.notes %></td>
        <td class="btns"><%= link_to 'Show', inventory, class: "fa fa-eye", "aria-hidden":"true" %></td>
        <td class="btns"><%= link_to 'Edit', edit_inventory_path(inventory), class: "fa fa-edit"  %></td>
        <td class="btns"><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btns">
  <%= link_to 'New Inventory', new_inventory_path, class: "fa fa-save" %>
</div>
