<p id="notice"><%= notice %></p>

<div class="view">
  <%= dl 'Item Number', @inventory.id %>
  <%= dl 'Serial Number', @inventory.serial_num %>
  <%= dl 'Item Description', @inventory.item_dec  %>
  <%= dl 'Status', @inventory.status%>
  <%= dl 'Date',  @inventory.status_date %>
</div>
<div class="view">
  <%= dl 'Notes', @inventory.notes %>
</div>
<div class="view btns">
  <%= link_to 'List of Inventories', inventories_path, class: "fa fa-arrow-left", "aria-hidden": true %>
  <%= link_to 'Edit', edit_inventory_path(@inventory), class: "fa fa-edit" %>
</div>
