<style>
	th { width: 140px; }
</style>

<tr>
   <th style="vertical-align: center;">Item Description:&nbsp;<span class="err">*</span></th>
   <td><%= select :item_dec, "", Inventory.where("nsn_in_inventory >?", 0).map(&:item_dec).uniq, {:include_blank => "others"}, :style => 'width: 100%;border-radius: 5px;' %></td>
</tr>
<%= f.tr_text_field :item_dec, label: "New Items" %>
<%= f.tr_text_field :incident_rep, label: 'Quality to add', value: 0 %>
<tr>
   <th>Current Inventory</th>
   <td><%= text_field :incident_rep, "", readOnly: true, value: o.nsn_in_inventory %></td>
</tr>

<%= hidden_field_tag :nsn_in_inventory_cache, "", id: "nsn_in_inventory_cache", value: o.nsn_in_inventory %>
<%= f.hidden_field :nsn_in_inventory, value: o.nsn_in_inventory %>
<%= f.tr_text_area :notes, label: 'Notes' %>
<%= f.tr_text_field :status, value: "Inventory", readOnly: true %>
<%= f.tr_text_field :status_date, readOnly: true, value: Date.today.strftime("%d/%m/%Y") %>
 <script type="text/javascript">
 	$(document).ready(function() {
	 	$("#item_dec_").on("change", function() {
	 		var item_dec = $(this).val();
			if(item_dec == "") {
				$("#obj_item_dec").val("");
				$("#obj_item_dec").parent().parent().show();

			} else {
			 	$("#obj_item_dec").val(item_dec);
			 	$("#obj_item_dec").parent().parent().hide();
				
				$.ajax({
					url: '<%= url_for :action => :get_nsn_in_inventory %>',
					data: {"data": item_dec},
					type: 'get',
					success: function(data, status, xhr) {
						console.log(data);
						$('#obj_nsn_in_inventory').val(data);
						$('#incident_rep_').val(data);
						$('#nsn_in_inventory_cache').val(data);
					},
					error: function(xhr, status, error) {
						alert('Error getting data.');
					}
				});
			}
	 	})
	 	$("#obj_incident_rep").on("keyup", function(){
	 		$(this).val($(this).val().replace(/[^0-9]/g,''));
	 		var val = parseInt($(this).val());
	 		var change_val = parseInt($("#nsn_in_inventory_cache").val() || 0);
	 		if(val) {
	 			$('#obj_nsn_in_inventory').val(change_val + val);
	 			$('#incident_rep_').val(change_val + val);
	 		} else {
	 			$('#obj_nsn_in_inventory').val(change_val);
	 			$('#incident_rep_').val(change_val);
	 		}

	 	})
	 	
 	})

 </script>