<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Facility Type', o.facility_type %>
</div>
<div class="view">
	<%= dl 'Base Fee', o.fee.n2%>
	<%= dl 'Half Fee', o.half_fee.n2  %>
	<%= dl 'Late Fee', o.late_fee.n2  %>
</div>