<div class="btns">
	<%= link_to fa('download', 'Preview'), {action: :download, id: o.id}, target: '_blank' %>
	<%= link_to fa('download', 'Preview to Word'), {action: :word, id: o.id}, target: '_blank' %>
</div>
<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Name', o.name %>
</div>
<%= partial 'documents/view_common', o: o %>
<% @documents_once = true %>