<table class="data">
	<thead>
		<tr>
			<th width="1%" class="nobr"><%= check_box_tag 'list_select_all', 1, false %> ID</th>
			<th width="1%">Active</th>
			<th width="1%">Color</th>
			<th width="1%">#</th>
			<th width="1%">License</th>
			<th width="1%">Account</th>
			<th width="49%">Year Make Model (Name)</th>
			<th width="49%">Assignment</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %></td>
				<td><%= yn o.active %></td>
				<td><% if !o.color.blank? %><span style="color: <%= o.color %>;"><%= o.color %></span><% end %></td>
				<td><%= o.vehicle_no %></td>
				<td><%= o.license %></td>
				<td><%= o.account %></td>
				<td><%= link_to blank_tag(o.no_ymm_name), controller: :ve_vehicles, action: :view, id: o.id %></td>
				<td><%= o.assignment %></td>
			</tr>
		<% } %>
	</tbody>
</table>