<table class="data">
	<thead>
		<tr>
			<th width="1%">ID</th>
			<th width="1%">Name</th>
			<th width="1%">Price</th>
			<th width="1%">Code</th>
			<th width="2%">Division</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= o.id %></td>
				<td class="nobr"><%= link_to blank_tag(colon_to_arrow(o.full_path)), controller: :shots, action: :view, id: o.id %></td>
				<td class="nobr"><%= n2 o.price %></td>
				<td class="nobr"><%= o.cost_center.try(:code) %></td>
				<td class="nobr"><%= o.division %></td>
			</tr>
		<% } %>
	</tbody>
</table>