<style>
	th { width: 140px; }
</style>

<tr>
   <th style="vertical-align: center;">Select Agent<span class="req">*</span></th>
   <td><%= f.select :agent_rec, options_from_collection_for_select(Agent.all, :id, "full_name"), {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
</tr>

<tr>
   <th style="vertical-align: center;">Select From Inventory<span class="req">*</span></th>
   <td><%= select :item_dec, "", Inventory.where("nsn_in_inventory is null").map(&:item_dec).uniq, {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
</tr>
<%= f.tr_text_field :serial_num, label: 'Current Inventory', required: true %>
<%= f.tr_text_field :serial_num, label: 'Quantity to Issue', required: true %>
<%= f.tr_text_area :notes, label: 'Notes' %>
