<table class="data">
	<thead>
		<tr>
			<th width="1%"><%= check_box_tag 'list_select_all', 1, false %> ID<br>Division</th>
			<th>Type<br>Date</th>
			<th class="tr">Total<br>Paid</th>
			<th class="tr">No.</th>
			<th>Category<br>Subcategory</th>
			<th width="99%">Item &middot; Split<br>Customer &middot; Memo</th>
			<th width="1%">Invoice</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %><br><%= o.division %></td>
				<td class="nobr"><%= link_to blank_tag(o.type), controller: :qb_invoices, action: :view, id: o.id %><br><%= o.date.d %></td>
				<td class="nobr tr"><%= o.total.n2 %><br><%= o.total_paid.n2 %></td>
				<td class="nobr tr"><%= o.no %></td>
				<td class="nobr"><%= o.category %><br><%= o.category2 %></td>
				<td><%= blank_tag(o.item) %> &middot; <%= blank_tag(o.split) %><br><%= o.customer %> &middot; <%= blank_tag(o.memo) %></td>
				<td class="nobr"><%= link_to('Invoice', {controller: :qb_invoices, action: :invoice, id: o.id}, target: '_blank') %></td>
			</tr>
		<% } %>
	</tbody>
</table>