<% @documents_once = true %>
<tr>
	<th>Objects</th>
	<td>
		<%= o.obj_type %> /
		<% if o.new_record? %>
			<%= f.hidden_field :obj_ids_str %>
			<%= f.hidden_field :obj_type %>
			<%= n0 o.obj_ids_str.to_s.split(',').size %>
		<% else %>
			<%= n0 o.documents.count %>
		<% end %>
	</td>
</tr>
<%= partial 'documents/fields_common', f: f, o: o %>
<script>
	var no_edit = $('#obj_doc_template_id_or_action').val().match(/[^\d]+/);
	$('.user-tpl').toggle(!no_edit).find('input, textarea').prop('disabled', no_edit);
</script>