<%= f.tr_text_field :facility_name, label: 'Facility Name' %>
<tr>
	<th>Codes</th>
	<td class="subform">
		<table>
			<tr>
				<th>Type</th>
				<th>Fac Code</th>
				<th>Code</th>
			</tr>
			<tr>
				<td><%= f.text_field :type, style: 'width: 50px;' %></td>
				<td><%= f.text_field :fac_code, style: 'width: 100px;' %></td>
				<td><%= f.text_field :code, style: 'width: 100px;' %></td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_field :town, label: 'Town' %>
<%= f.tr_text_field :name, label: 'Name' %>
<tr>
	<th>Address</th>
	<td class="subform">
		<table>
			<tr>
				<th>No.</th>
				<th>Street</th>
				<th>Type</th>
				<th>Direction</th>
			</tr>
			<tr>
				<td><%= f.text_field :street_no, style: 'width: 50px;' %></td>
				<td><%= f.text_field :street_name, style: 'width: 300px;' %></td>
				<td><%= f.text_field :street_type, style: 'width: 70px;' %></td>
				<td><%= f.text_field :street_dir, style: 'width: 70px;' %></td>
			</tr>
			<script>
				$('#obj_street_type').autocomplete({
					minLength: 0, source: <%= Const::STREET_TYPES.map(&:first).to_json.html_safe %>
				}).focus(function(e) { $(this).autocomplete('search'); });
				$('#obj_street_dir').autocomplete({
					minLength: 0, source: <%= Const::STREET_DIRS.map(&:last).to_json.html_safe %>
				}).focus(function(e) { $(this).autocomplete('search'); });
			</script>
		</table>
	</td>
</tr>
<tr>
	<th>City, State, Zip</th>
	<td class="subform">
		<table>
			<tr>
				<td><%= f.text_field :city, style: 'width: 300px;' %></td>
				<td><%= f.select :state, Const::US_STATES.map(&:last), include_blank: true %></td>
				<td><%= f.text_field :zip, style: 'width: 70px;' %></td>
			</tr>
		</table>
	</td>
</tr>