<%= partial 'tr_others/fields_common', f: f, o: o %>
<tr>
	<th>Invoice</th>
	<td class="subform">
		<table>
			<tr>
				<th>Invoice Date</th>
				<th>Invoice</th>
				<th>Date to Bus</th>
			</tr>
			<tr>
				<td><%= f.text_field :invoice_date, class: 'date', value: o.invoice_date.d4 %></td>
				<td><%= f.text_field :invoice, style: 'width: 100px;' %></td>
				<td><%= f.text_field :date_to_bus, class: 'date', value: o.date_to_bus.d4 %></td>
			</tr>
		</table>
	</td>
<%= f.tr_text_field :operation_id, label: 'NYS Operation ID' %>
<tr>
	<th>Inspect/Review</th>
	<td class="subform">
		<table>
			<tr>
				<th colspan="7">Inspector: <%= f.text_field :inspector, style: 'width: 50px;' %> <a href="#" id="inspector"><i class="fa fa-fw fa-arrow-left">&nbsp;&nbsp;</i><%= @current_user.initials %></a></th>
				<script>
					$('#inspector').click(function(e) {
						$('#obj_inspector').val('<%= @current_user.initials %>').effect('highlight');
						e.preventDefault();
					});
				</script>
			</tr>
			<tr>
				<th>Preop Insp</th>
				<th>S/U</th>
				<th>Annual Insp</th>
				<th>S/U</th>
				<th>2nd Annual Insp</th>
				<th>S/U</th>
				<th>Partial Insp</th>
			</tr>
			<tr>
				<td><%= f.text_field :preop_insp, class: 'date', value: o.preop_insp.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :preop_s_u %></td>
				<td><%= f.text_field :annual_insp, class: 'date', value: o.annual_insp.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :annual_s_u %></td>
				<td><%= f.text_field :annual_2nd_insp, class: 'date', value: o.annual_2nd_insp.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :annual_2nd_s_u %></td>
				<td><%= f.text_field :partial_insp, class: 'date', value: o.partial_insp.d4 %></td>
			</tr>
			<tr>
				<th>1st Reinsp</th>
				<th>S/U</th>
				<th>2nd Reinsp</th>
				<th>S/U</th>
				<th>3rd Reinsp</th>
				<th>S/U</th>
			</tr>
			<tr>
				<td><%= f.text_field :reinsp_1st, class: 'date', value: o.reinsp_1st.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :reinsp_1st_s_u %></td>
				<td><%= f.text_field :reinsp_2nd, class: 'date', value: o.reinsp_2nd.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :reinsp_2nd_s_u %></td>
				<td><%= f.text_field :reinsp_3rd, class: 'date', value: o.reinsp_3rd.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :reinsp_3rd_s_u %></td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Building/Lead</th>
	<td class="subform">
		<table>
			<tr>
				<th>Building Age</th>
				<th>Lead Prog. Ref.</th>
				<th>Lead Insp. Date</th>
				<th>Lead Insp. Result</th>
				<th>Lead Clearance Date</th>
			</tr>
			<tr>
				<td><%= f.select :building_age, ['PRE-1978', 'POST-1978'], {include_blank: true}, style: 'width: 100px;' %></td>
				<td><%= f.text_field :lead_program_ref_date, class: 'date', value: o.lead_program_ref_date.d4 %></td>
				<td><%= f.text_field :lead_inspection_date, class: 'date', value: o.lead_inspection_date.d4 %></td>
				<td><%= f.select :lead_inspection_results, ['NO PB HAZARDS', 'PB HAZARDS'], {include_blank: true}, style: 'width: 100px;' %></td>
				<td><%= f.text_field :lead_clearance_date, class: 'date', value: o.lead_clearance_date %></td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_field :inspector_contact, label: 'Inspector Contact' %>
<tr>
	<th>Food Service</th>
	<td class="subform">
		<table>
			<tr>
				<th>Plan Receipt</th>
				<th>Plan Aprvl Date</th>
				<th>Estab.</th>
				<th>Part 14-1 Permit?</th>
				<th>Catered?</th>
			</tr>
			<tr>
				<td><%= f.text_field :food_plan_receipt_date, class: 'date', value: o.food_plan_receipt_date.d4 %></td>
				<td><%= f.text_field :food_plan_approval_date, class: 'date', value: o.food_plan_approval_date.d4 %></td>
				<td><%= partial 'field_chk_lbls', f: f, field: :food_service_estab, lbl: 'risk', opts: %w{L M H} %></td>
				<td><%= partial 'field_chk_lbls', f: f, field: :food_service_permit, lbl: 'yn', opts: %w{N Y} %></td>
				<td><%= partial 'field_chk_lbls', f: f, field: :food_catered, lbl: 'yn', opts: %w{N Y} %></td>
				</td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_area :food_service_description, class: 'r4', label: 'Food Service<br>Description' %>
<%= f.tr_text_area :food_plan_corrective_actions, class: 'r4', label: 'Food Corrective<br>Actions' %>
<%= f.tr_text_area :comments, class: 'r6', label: 'Comments' %>





