<%= partial 'tr_others/view_common', o: o %>
<div class="view">
	<%= dl 'Invoice Date', o.invoice_date.d4 %>
	<%= dl 'Invoice', o.invoice %>
	<%= dl 'Date to Bus', o.date_to_bus.d4 %>
</div>
<div class="view">
	<%= dl 'Inspector', o.inspector %>
	<%= dl 'Preop. Insp.', o.preop_insp.d4 %>
	<%= dl 'S/U', lbl('su', o.preop_s_u) %>
	<%= dl 'Annual Insp.', o.annual_insp.d4 %>
	<%= dl 'S/U', lbl('su', o.annual_s_u) %>
	<%= dl '2nd Annual Insp.', o.annual_2nd_insp.d4 %>
	<%= dl 'S/U', lbl('su', o.annual_2nd_s_u) %>
	<%= dl 'Partial Insp', o.partial_insp.d4 %>
</div>
<div class="view">
	<%= dl '1st Reinsp.', o.reinsp_1st.d4 %>
	<%= dl 'S/U', lbl('su', o.reinsp_1st_s_u) %>
	<%= dl '2nd Reinsp.', o.reinsp_2nd.d4 %>
	<%= dl 'S/U', lbl('su', o.reinsp_2nd_s_u) %>
	<%= dl '3rd Reinsp.', o.reinsp_3rd.d4 %>
	<%= dl 'S/U', lbl('su', o.reinsp_3rd_s_u) %>
</div>
<div class="view">
	<%= dl 'Building Age', o.building_age %>
	<%= dl 'Lead Prog. Ref.', o.lead_program_ref_date.d4 %>
	<%= dl 'Lead Insp. Date', o.lead_inspection_date.d4 %>
	<%= dl 'Lead Insp. Result', o.lead_inspection_results %>
	<%= dl 'Lead Clearance Date', o.lead_clearance_date %>
</div>
<div class="view">
	<%= dl 'Inspector Contact', o.inspector_contact %>
</div>
<div class="view">
	<%= dl '', o.food_plan_receipt_date.d4 %>
	<%= dl '', o.food_plan_approval_date.d4 %>
	<%= dl '', lbl('risk', o.food_service_estab) %>
	<%= dl '', yn(o.food_service_permit) %>
	<%= dl '', yn(o.food_catered) %>
</div>
<div class="view">
	<%= dl 'Food Service Description', nl2br_h(o.food_service_description) %>
</div>
<div class="view">
	<%= dl 'Food Corrective Actions', nl2br_h(o.food_plan_corrective_actions) %>
</div>
<div class="view">
	<%= dl 'Comments', nl2br_h(o.comments) %>
</div>