<style>
	th { width: 140px; }
</style>

<tr>
   <th style="vertical-align: center;">Description<span class="req">*</span></th>
   <td><%= f.select :item_dec, Inventory.where("nsn_in_inventory is not null").map(&:item_dec).uniq, {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
</tr>


<tr id="agent_record">
   <th style="vertical-align: center;">Assigned to:<span class="req">*</span></th>
   <td><%=text_field_tag :agent_rec, "" %></td>
</tr>
<%= hidden_field_tag :status, "" %>
<%= f.hidden_field :agent_rec %>
<tr>
   <th style="vertical-align: center;">Status<span class="req">*</span></th>
   <td><%= f.select :status, Status.all.map(&:status).uniq, {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
</tr>

<script type="text/javascript">
	$(document).ready(function() {

		$("button[type=submit]").on("click", function() {
 			var cs = $("#status").val();
 			var s = $("#obj_status").val();
 			if(cs == s || !s) {
 				alert("Please change the Status");
 				return false;
 			}
 		})

		$("#obj_item_dec").on("change", function() {
	 		var item_dec = $(this).val();
			if(item_dec != "") {
			 	$.ajax({
				  	url: '<%= url_for :action => :get_data_from_item_dec %>',
				  	type: 'GET',
				  	data: {"data":item_dec},
				  	success: function(result) {
				        if(result.agent) {
				        	$('#agent_record').show();
				        	$('#agent_rec').val(result.agent);
				        	$('#obj_agent_rec').val(result.agentid);
				        } else {
				        	$('#agent_rec').val("");
				        	$('#obj_agent_rec').val("");
				        	$('#agent_record').hide();
				        }
				        $("#status").val(result.status)
				        $("#obj_status").val(result.status)
				  	}
				})
			}
		})

	})
</script>