<%= f.tr_text_field :facility_name, label: 'Facility Name', req: true %>
<tr>
	<th>Facility Address</th>
	<td class="subform">
		<table>
			<tr>
				<th>#</th>
				<th>Street</th>
				<th>Type</th>
				<th>Direction</th>
			</tr>
			<tr>
				<td><%= f.text_field :street_number, style: 'width: 50px;' %></td>
				<td><%= f.text_field :street_name, style: 'width: 300px;' %></td>
				<td><%= f.text_field :street_type, style: 'width: 70px;' %></td>
				<td><%= f.text_field :street_direction, style: 'width: 70px;' %></td>
			</tr>
			<script>
				$('#obj_street_type').autocomplete({
					minLength: 0, source: <%= Const::STREET_TYPES.map(&:first).to_json.html_safe %>
				}).focus(function(e) { $(this).autocomplete('search'); });
				$('#obj_street_direction').autocomplete({
					minLength: 0, source: <%= Const::STREET_DIRS.map(&:first).to_json.html_safe %>
				}).focus(function(e) { $(this).autocomplete('search'); });
			</script>
		</table>
	</td>
</tr>
<tr>
	<th>Facility CSZ</th>
	<td class="subform">
		<table>
			<tr>
				<td><%= f.text_field :fac_city, style: 'width: 300px;' %></td>
				<td><%= f.select :estab_state, Const::US_STATES.map(&:last), include_blank: true %></td>
				<td><%= f.text_field :fac_zip, style: 'width: 70px;' %></td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_field :estab_name, label: 'Estab. Name' %>
<%= f.tr_text_field :estab_address, label: 'Estab. Address' %>
<tr>
	<th>Estab. CSZ</th>
	<td class="subform">
		<table>
			<tr>
				<th>City, State</th>
				<th>Zip</th>
			</tr>
			<tr>
				<td><%= f.text_field :estab_city, style: 'width: 200px;' %></td>
				<td><%= f.text_field :estab_zip, style: 'width: 70px;' %></td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_field :estab_phone, label: 'Estab. Phone' %>
<script>
	$('#obj_facility_name').change(function(e) {
		var e = $('#obj_estab_name');
		if(!e.val() || e.val() == $(this).data('oldval')) {
			e.val($(this).val()).effect('highlight');
		}
	});
	$('#obj_fac_city, #obj_estab_state').change(function(e) {
		var e = $('#obj_estab_city');
		if(!e.val() || e.val().indexOf($('#obj_fac_city').data('oldval')) === 0) {
			e.val($('#obj_fac_city').val() + ', ' + $('#obj_estab_state').val()).effect('highlight');
		}
	});
	var addr = function(num, nam, typ, dir) {
		parts = [];
		if(num) parts.push(num);
		if(nam) parts.push(nam);
		if(typ) parts.push(typ);
		if(dir) parts.push(dir);
		return parts.join(' ');
	}
	$('#obj_street_number, #obj_street_name, #obj_street_type, #obj_street_direction').change(function(e) {
		var e = $('#obj_estab_address');
		var old_addr = addr(
			$('#obj_street_number').data('oldval'),
			$('#obj_street_name').data('oldval'),
			$('#obj_street_type').data('oldval'),
			$('#obj_street_direction').data('oldval')
		);
		if(!e.val().trim() || e.val().trim() == old_addr) {
			e.val(addr(
			 $('#obj_street_number').val(),
			 $('#obj_street_name').val(),
			 $('#obj_street_type').val(),
			 $('#obj_street_direction').val()
			)).effect('highlight');
		}
	});
	$('#obj_fac_zip').change(function(e) {
		var e = $('#obj_estab_zip');
		if(!e.val() || e.val() == $(this).data('oldval')) {
			e.val($(this).val()).effect('highlight');
		}
	});
	$('#obj_facility_name, #obj_street_number, #obj_street_name, #obj_street_type, #obj_street_direction, #obj_fac_city, #obj_estab_state, #obj_fac_zip')
		.each(function(i, el) {
		$(el).data('oldval', $(el).val());
	}).change(function(e) {
		$(this).data('oldval', $(this).val());
	});	
</script>
<%= f.tr_text_field :owner_name, label: 'Owner Name' %>
<%= f.tr_text_field :owner_addr, label: 'Owner Address' %>
<tr>
	<th>Owner CSZ</th>
	<td class="subform">
		<table>
			<tr>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
			</tr>
			<tr>
				<td><%= f.text_field :owner_city, style: 'width: 300px;' %></td>
				<td><%= f.select :owner_state, Const::US_STATES.map(&:last), include_blank: true %></td>
				<td><%= f.text_field :owner_zip, style: 'width: 70px;' %></td>				
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Owner Email</th>
	<td class="subform">
		<table>
			<tr>
				<th>Email 1</th>
				<th>Email 2</th>
			</tr>
			<tr>
				<td><%= f.text_field :email1, style: 'width: 250px;' %></td>
				<td><%= f.text_field :email2, style: 'width: 250px;' %></td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Status</th>
	<td>
		<%= partial 'field_chk_lbls', f: f, opts: FdEstablishment::STATUSES, field: 'status', lbl: 'fdstat' %>
	</td>
</tr>
<tr>
	<th>Estab. Type</th>
	<td class="subform">
		<table>
			<tr>
				<th>Code</th>
				<th>Name</th>
				<th>Mobile Type</th>
				<th>Risk</th>
			</tr>
			<tr>
				<td><%= f.text_field :estab_type_code, style: 'width: 70px;' %></td>
				<td><%= f.text_field :estab_type, style: 'width: 200px;' %></td>
				<td><%= f.select :mobtype, FdEstablishment::MOBILE_TYPES, include_blank: true %></td>
				<td>
					<%= partial 'field_chk_lbls', f: f, opts: %w{L M H}, field: 'risk', lbl: 'risk' %>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Gazcode</th>
	<td class="subform">
		<table class="subform">
			<tr>
				<th>Prefix</th>
				<th colspan="2">Gazcode</th>
			</tr>
			<tr>
				<td><%= f.text_field :prefixgaz, style: 'width: 100px;' %></td>
				<td><%= f.text_field :gaz_number, style: 'width: 100px;' %></td>
				<td>Leave blank to auto-create (prefix + unique num + type code)</td>
			</tr>
		</table>
	</td>
</tr>
<script>
	var set_gaz_number_placeholder = function() {
		prefix = $('#obj_prefixgaz').val();
		suffix = $('#obj_estab_type_code').val();
		$('#obj_gaz_number').attr('placeholder', (prefix || '????') + '___' + (suffix || '??'));
	};
	set_gaz_number_placeholder();
	$('#obj_prefixgaz, obj_estab_type_code').change(set_gaz_number_placeholder);
	var set_prefixgaz = function(i) {
		$('#obj_prefixgaz').val(i.value);
		set_gaz_number_placeholder();
	}
	$('#obj_prefixgaz').autocomplete({
		source: <%= FdTown.order('facility_name').map { |t| {label: "#{t.code} #{t.facility_name}", value: t.code} }.to_json.html_safe %>,
		minLength: 0,	
		select: function(e, ui) {
			e.preventDefault();
			set_prefixgaz(ui.item);
		},
		focus: function(e, ui) {
			e.preventDefault();
			set_prefixgaz(ui.item);
		},
		change: set_gaz_number_placeholder
	}).focus(function(e) { $(this).autocomplete('search'); });
	var set_fac_type = function(item) {
		$('#obj_estab_type_code').val(item.estab_type_code);
		$('#obj_estab_type').val(item.estab_type);
		set_gaz_number_placeholder();
	}
	$('#obj_estab_type_code, #obj_estab_type').autocomplete({
		source: <%= FdEstablishment.where('estab_type != ""').order('estab_type_code').select('count(*) c, estab_type_code, estab_type').group('estab_type_code, estab_type').map { |e| 
			e.attributes.slice('estab_type_code', 'estab_type') + {label: "#{e.estab_type_code} - #{e.estab_type} (#{e.c})"}
		}.to_json.html_safe %>,
		minLength: 0,
		select: function(e, ui) { 
			e.preventDefault();
			set_fac_type(ui.item);
		},
		focus: function(e, ui) { 
			e.preventDefault();
			set_fac_type(ui.item); 
		},
		change: function() { 
			set_gaz_number_placeholder();
		}
	}).focus(function(e) { 
		$(this).autocomplete('search'); 
	});
</script>
<tr>
	<th>Fee Information</th>
	<td class="subform">
		<table>
			<tr>
				<th>Capacity</th>
				<th>Type</th>
				<th>Code</th>
				<th>Fee</th>
			</tr>
			<tr>
				<td><%= f.text_field :seating_cap, style: 'width: 100px;', class: 'n0' %></td>
				<td id="obj_fee_type"><%= partial 'field_chk_lbls', f: f, opts: FdFeeSchedule::TYPES, field: 'fee_type', lbl: 'fdfeetyp' %></td>
				<td><%= f.text_field :capacity_rate, style: 'width: 100px;' %></td>
				<td>$<span id="fee"><%= n2 o.fd_fee_schedule.try(:fee) %></span></td>
			</tr>
		</table>
	</td>
</tr>
<script>
	var fees = <%= FdFeeSchedule.order('fee_code').map(&:attributes).to_json.html_safe %>;
	var valid_fees = [];
	var invalid_fees = [];
	var set_fee = function(f, highlight) {
		var cr = $('#obj_capacity_rate');
		cr.val(f ? f.fee_code : '');
		if(highlight) {
			cr.effect('highlight');
		}
		$('#fee').text(n2(float(f ? f.fee : '')));
	}
	var filter_fees = function(correct_current) {
		var facility_type_code = $('#obj_estab_type_code').val();
		var facility_type = $('#obj_estab_type').val();
		var seating_cap = $('#obj_seating_cap').val();
		var fee_type = $('#obj_fee_type input:checked').val();
		var capacity_rate = $('#obj_capacity_rate').val();
		var current_valid = false;
		valid_fees = [];
		invalid_fees = [];
		$.each(fees, function(i, f) {
			f.invalid = 
				(facility_type_code && f.facility_type_code && facility_type_code != f.facility_type_code) ||
				(facility_type && f.facility_type && facility_type != f.facility_type) ||
				(seating_cap && ((f.min && seating_cap < f.min) || (f.max && seating_cap > f.max))) ||
				(fee_type && f.type && f.type != fee_type);
			(f.invalid ? invalid_fees : valid_fees).push(f);
			if(!f.invalid && f.fee_code == capacity_rate) {
				current_valid = true;
			}
		});
		if(correct_current) { 
			if(!current_valid) {
				if(valid_fees.length == 1) {
					var fee = valid_fees[0];
					set_fee(fee, true);
				}
				else if(capacity_rate) {
					set_fee(null, true);
				}
			}
		}
	}
	filter_fees(false);
	var filter_fees_timeout = null;
	$('#obj_estab_type_code, #obj_estab_type, #obj_seating_cap, #obj_fee_type input').on('change autocompleteselect', function(e) {
		clearTimeout(filter_fees_timeout);
		var filter_fees_timeout = setTimeout(function() { 
			filter_fees(true);
		}, 100);
	});
	$('#obj_capacity_rate').autocomplete({
		source: function(req, res) {
			res(valid_fees.concat(invalid_fees));
		},
		minLength: 0,
		select: function(e, ui) { 
			e.preventDefault();
			set_fee(ui.item, false); 
		},
		focus: function(e, ui) { 
			e.preventDefault();
			set_fee(ui.item, false); 
		}
	}).focus(function(e) {
		$(this).autocomplete('search');
	}).data('ui-autocomplete')._renderItem = function(ul, item) {
		return $(
			'<li><a style="' + (item.invalid ? 'color: #888;' : 'font-weight: bold;')  + '">' + 
			item.fee_code + ' (' + (item.description ? item.description : 'ALL') + ') ' + 
			(item.facility_code ? item.facility_code + ' - ' : '') + item.facility_type + ' (' + item.type + 
			')</a></li>'
		).appendTo(ul);
	};
</script>
<tr>
	<th>Estab. Dates</th>
	<td class="subform">
		<table>
			<tr>
				<th>Estab. Opened</th>
				<th colspan="2">Obsolete</th>
			</tr>
			<tr>
				<td><%= f.text_field :date_estab_open, class: 'date', value: o.date_estab_open.d %></td>
				<td><%= f.text_field :date_ob, class: 'date', value: o.date_ob.d %></td>
				<td><label style="width: 100px;"><%= f.check_box :ob_to_ehips %> OB to EHIPS</label></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Inspection</th>
	<td class="subform">
		<table>
			<tr>
				<th>Certificate</th>
				<th>Last Inspection</th>
				<th colspan="2">Initials</th>
			</tr>
			<tr>
				<td><%= partial 'field_chk_lbls', f: f, opts: %w{C R Y}, field: 'certificate', lbl: 'fdcert' %></td>
				<td><%= f.text_field :last_insp, class: 'date', value: o.last_insp.d %></td>
				<td><%= f.text_field :san_init, style: 'width: 50px;' %></td>
				<td>&nbsp;&nbsp;<a href="#" id="inspect"><i class="fa fa-fw fa-arrow-left">&nbsp;&nbsp;</i><%= Time.now.to_date.d %> &middot; <%= @current_user.initials %></a></td>
				<script>
					$('#inspect').click(function(e) { 
						$('#obj_last_insp').val('<%= Time.now.to_date.d %>').effect('highlight');
						$('#obj_san_init').val('<%= @current_user.initials %>').effect('highlight');
						e.preventDefault(); 
					});
				</script>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Permit Dates</th>
	<td class="subform">
		<table>
			<tr>
				<th>Permit Issue</th>
				<th>Permit Expire</th>
				<th>Appl. Recv'd</th>
				<th>Permit Sent</th>
				<th>Prev. Issue</th>
				<th>Prev. Expire</th>
			</tr>
			<tr>
				<td><%= f.text_field :date_permit, class: 'date', value: o.date_permit.d %></td>
				<td><%= f.text_field :permit_exp, class: 'date', value: o.permit_exp.d %></td>
				<td><%= f.text_field :date_application_recvd, class: 'date', value: o.date_application_recvd.d %></td>
				<td><%= f.text_field :permit_sent_date, class: 'date', value: o.permit_sent_date.d %></td>
				<td><%= f.text_field :prev_issue_date, class: 'date', value: o.prev_issue_date.d %></td>
				<td><%= f.text_field :prev_expire_date, class: 'date', value: o.prev_expire_date.d %></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Ins./Other Dates</th>
	<td class="subform">
		<table>
			<tr>
				<th>Work. Comp. Exp.</th>
				<th>Disa. Exp.</th>
				<th>Exmpt. Cert. Exp.</th>
				<th>Time Tab</th>
			</tr>
			<tr>
				<td><%= f.text_field :workers_comp_exp, class: 'date', value: o.workers_comp_exp.d %></td>
				<td><%= f.text_field :disability_exp, class: 'date', value: o.disability_exp.d %></td>
				<td><%= f.text_field :exemption_cert_exp, class: 'date', value: o.exemption_cert_exp.d %></td>
				<td><%= f.text_field :timetab, class: 'date', value: o.timetab.d %></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Bill/Payment</th>
	<td class="subform">
		<table>
			<tr>
				<th>Billing Date</th>
				<th>Date Paid</th>
				<th>CC Info to Billing</th>
				<th>Check #</th>
			</tr>
			<tr>
				<td><%= f.text_field :billing_date, class: 'date', value: o.billing_date.d %></td>
				<td><%= f.text_field :date_paid, class: 'date', value: o.date_paid.d %></td>
				<td><%= f.text_field :date_cc_info_to_billing, class: 'date', value: o.date_cc_info_to_billing.d %></td>
				<td><%= f.text_field :check_no, style: 'width: 80px;' %></td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_field :fee_receipt_comment, label: 'Bill/Pay Comment' %>
<tr>
	<th>Other IDs</th>
	<td class="subform">
		<table>
			<tr>
				<th>Facility Code</th>
				<th>Water ID</th>
				<th>Rec. #</th>
				<th>Cust. Acct. #</th>
				<th>Operation ID</th>
				<th>Primary Op.</th>
				<th>Gazcode</th>
			</tr>
			<tr>
				<td><%= f.text_field :facility_code, style: 'width: 100px;' %></td>
				<td><%= f.text_field :water_id, style: 'width: 100px;' %></td>
				<td><%= f.text_field :rec_no, style: 'width: 100px;' %></td>
				<td><%= f.text_field :customer_acct_no, style: 'width: 100px;' %></td>
				<td><%= f.text_field :operation_id, style: 'width: 100px;' %></td>
				<td><%= f.text_field :primary_op, style: 'width: 100px;' %></td>
				<td><%= f.text_field :gazcode, style: 'width: 100px;' %></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Exclude Permit</th>
	<td class="subform">
		<table>
			<tr>
				<th>Print 1</th>
				<th>Print 2</th>
			</tr>
			<tr>
				<td><%= f.text_field :exclude_permit_print, style: 'width: 100px;' %></td>
				<td><%= f.text_field :exclude_permit_print2, style: 'width: 100px;' %></td>
				<td></td>
			</tr>
		</table>
	</td>
</tr>


