<%= partial 'tr_others/view_common', o: o %>
<div class="view">
	<%= dl 'Capacity', n0(o.capacity) %>
	<%= dl 'Sessions', n0(o.sessions) %>
	<%= dl 'Fee', n2(o.fee) %>
	<%= dl 'Fee Paid', n2(o.fee_paid) %>
	<%= dl 'Permit', yn(o.permit) %>
</div>
<div class="view">
	<%= dl 'Reviewed By', o.reviewed_by %>
	<%= dl 'Inspector', o.inspector %>
</div>
<div class="view">
	<%= dl 'Preop. Status', o.preop_status %>
	<%= dl 'Preop. Insp.', o.preop_insp.d4 %>
	<%= dl 'S/U', lbl('su', o.preop_s_u) %>
	<%= dl 'Oper. Insp.', o.oper_insp.d4 %>
	<%= dl 'S/U', lbl('su', o.oper_s_u) %>
	<%= dl 'Oper. Reinsp.', o.oper_insp.d4 %>				
</div>
<div class="view">
	<%= dl 'DOH 3965', yn(o.doh_3965) %>
	<%= dl 'WC/DB Rec\'d', yn(o.wc_db_recd) %>
	<%= dl 'DOH-2271', yn(o.doh_2271) %>
	<%= dl 'LDSS-3370', yn(o.ldss_3370) %>
	<%= dl 'DSS-ANS', yn(o.dss_ans) %>
</div>
<div class="view">
	<%= dl 'DOH-367', yn(o.doh_367) %>
	<%= dl 'Manual OK', yn(o.manual_ok) %>
	<%= dl 'Manual Update', yn(o.manual_update) %>
	<%= dl 'SP Disability ADN', yn(o.safety_plan_disability_adn) %>
</div>
<div class="view">
	<%= dl 'Covered Amusement Devices', yn(o.covered_amusement_devices) %>
	<%= dl 'Amusement Devices Form', yn(o.amusement_devices_form) %>
</div>
<div class="view">
	<%= dl 'Camp Dir.', o.camp_director %>
	<%= dl 'Health Dir.', o.health_director %>
	<%= dl 'Aquatics Dir.', o.aquatics_director %>
	<%= dl 'Aqu. Dir. Required', yn?(o.aquatics_dir_required) %>
</div>
<div class="view">
	<%= dl 'Pool Operator', o.pool_operator %>
	<%= dl 'First Aid Cert.', yn(o.first_aid_certifications_received) %>
	<%= dl 'CPR Cert.', yn(o.cpr_cert) %>
	<%= dl 'Lifeguard PSI Cert.', yn(o.lifeguard_psi_certifications) %>
	<%= dl 'Aquatics Dir. Cert', yn(o.aquatics_director_certs) %>
	<%= dl 'Counselor/Camper Ratio', yn(o.counselor_to_camper_ratio) %>
</div>
<div class="view">
	<%= dl 'Food Service', nl2br_h(o.food_service) %>
</div>
<div class="view">
	<%= dl 'Comments', nl2br_h(o.comments) %>
</div>