<tr>
	<th>Red/Blue/Corrected</th>
	<td class="nobr">
		<% ['R', 'B'].each { |v| %>
			<label class="lbl-chk"><%= check_box_tag 'filter[red_blue][]', v, v.in?(@filter.red_blue) %><span class="lbl lbl-viol_rb-<%= v.to_s.downcase %>"><%= v %></span></label>
		<% } %>&nbsp;&nbsp;&nbsp;
		<label class="yes"><%= check_box_tag 'filter[corrected][]', '1', '1'.in?(@filter.corrected) %> Corrected</label>&nbsp;&nbsp;&nbsp;
		<label class="no"><%= check_box_tag 'filter[corrected][]', '0', '0'.in?(@filter.corrected) %> Not Corrected</label>
	</td>
</tr>
<% if params.context != 'tf_facility' %>
	<%= partial 'tf_facilities/filter_event' %>
<% end %>