<div class="view">
  <%= dl 'Item Number', o.id %>
  <%= dl 'Item Description', o.item_dec  %>
  <%= dl 'Quality to add', o.incident_rep %>
  <%= dl 'Current Inventory', o.nsn_in_inventory  %>
  <%= dl 'Status', o.status%>
  <%= dl 'Date',  o.status_date %>
</div>
<div class="view">
  <%= dl 'Notes', o.notes %>
</div>
