<style>
	th { width: 140px; }
</style>
<% admin = params[:controller] == 'users' %>
<% if admin %>
	<%= f.tr_text_field :username, label: 'Username', req: true, after: '<div>Start typing to search for AD network/pc login.</div>' %>
	<%= f.tr_check_box :auth_ldap, label: 'AD Authenticate', text: 'Authenticate through Active Directory (use network/pc login). If checked, password field is not required. Username must match AD login.' %>
<% else %>
	<tr>
		<th>Username</th>
		<td><%= o.username %></td>
	</tr>
<% end %>
<%= f.tr_text_field :first_name, label: 'First Name', req: true %>
<%= f.tr_text_field :last_name, label: 'Last Name', req: true %>
<%= f.tr_text_field :email, label: 'Email', req: true, after: (admin ? '&nbsp;<a href="#" id="email-guess"><i class="fa fa-arrow-left">&nbsp;</i>Guess Email</a>' : '') %>
<%#= f.tr_text_field :phone, label: 'Phone' %>
<%#= f.tr_text_field :title, label: 'Title' %>
<% str = (o.new_record? || params.action == 'login_edit') ? '' : '<div>Leave blank to keep current password.</div>' %>
<% if admin || !o.auth_ldap %>
	<%= f.tr_password_field :password, label: 'Password', req: o.new_record?, value: o.password, after: '<div>Min: 6 characters, must contain 1 of each: uppercase, lowercase, number, special character (#%$@*...)</div>' + str, tr: {class: 'password'}, autocomplete: 'new-password' %>
	<%= f.tr_password_field :password_confirmation, label: 'Retype Password', req: o.new_record?, value: o.password_confirmation, tr: {class: 'password'}, autocomplete: 'new-password' %>
<% end %>
<% if admin %>
	<%#= f.tr_check_box :force_new_password, label: 'Force New Password?', text: 'Force user to enter a new password next time they log in.', tr: {class: 'password'} %>
	<tr>
		<th>Level <span class="req">*</span></th>
		<td>
			<span class="lbl-chk-grp">
				<% User::LEVELS.each { |l| %>
					<label class="lbl-chk"><%= f.radio_button :level, l[1] %><span class="lbl lbl-user-<%= l[1] %>"><%= l[0] %></span></label>
				<% } %>
			</span>&nbsp;&nbsp;&nbsp;
			<label><%= f.check_box :active %> Active</label>
		</td>
	</tr>
	<!-- <tr>
		<th>Vehicles Level</th>
		<td>
			<span class="lbl-chk-grp">
				<% User::SUB_LEVELS.each { |l| %>
					<label class="lbl-chk"><%= f.radio_button :ve_level, l[1] %><span class="lbl lbl-user-<%= l[1] %>"><%= l[0] %></span></label>
				<% } %>
			</span>			
		</td>
	</tr>
	<tr>
		<th>Billing Level</th>
		<td>
			<span class="lbl-chk-grp">
				<% User::SUB_LEVELS.each { |l| %>
					<label class="lbl-chk"><%= f.radio_button :qb_level, l[1] %><span class="lbl lbl-user-<%= l[1] %>"><%= l[0] %></span></label>
				<% } %>
			</span>
		</td>
	</tr>	 -->
<% else %>
	<tr>
		<th>Level</th>
		<td><%= User::LEVELS.rassoc(o.level)[0] rescue nil %></td>
	</tr>
<% end %>
<% if admin %>
<script>
$('#email-guess').click(function(e) {
	e.preventDefault();
	$('#obj_email').val($('#obj_first_name').val().toLowerCase() + $('#obj_last_name').val().toLowerCase() + '@monroecounty.gov').effect('highlight');
});
var toggle_password = function() {
	var val = $('#obj_auth_ldap').is(':checked');
	$('tr.password').toggle(!val);
}
$('#obj_auth_ldap').change(toggle_password);
toggle_password();
var set_user = function(item) {
	$('#obj_username').val(item.username);
	$('#obj_first_name').val(item.first_name);
	$('#obj_last_name').val(item.last_name);
	$('#obj_phone').val(item.phone);
	$('#obj_title').val(item.title);
	$('#obj_email').val(item.mail);
	$('#obj_auth_ldap').prop('checked', true);
	toggle_password();
}
$('#obj_username').autocomplete({
		source: '<%= url_for controller: :users, action: :ldap_autocomplete %>',
		minLength: 2,
		response: function(e, ui) {
			$(this).removeClass('busy-bg');
		},
		search: function(e, ui) {
			$(this).addClass('busy-bg');
		},
		select: function(e, ui) {
			set_user(ui.item);
			e.preventDefault();
		},
		focus: function(e, ui) {
			set_user(ui.item);
			e.preventDefault();
		}
	}).data('ui-autocomplete')._renderItem = function(ul, item) {
		return $('<li>')
			.append(item.username + ' (' + item.first_name + ' ' + item.last_name + ')')
			.appendTo(ul);
	};
</script>	
<% end %>