<table class="data">
	<thead>
		<tr>
			<th class="nobr" width="1%"><%= check_box_tag 'list_select_all', 1, false %> ID</th>
			<th width="1%">Username</th>
			<th width="1%">Email</th>
			<th width="1%">Fullname</th>
			<th width="1%">Level</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %></td>
				<td><%= link_to o.username, :action => :view, :id => o.id %></td>
				<td class="nobr"><%= o.email %></td>
				<td class="nobr"><%= o.first_name %>&nbsp;<%= o.last_name %></td>
				<% 
					l = User::LEVELS.rassoc(o.level.to_s)
				%>
				<td class="nobr"><%= lbl('user', l[1], l[0]) %></td>
			</tr>
		<% } %>
	</tbody>
</table>