<table class="data">
	<thead>
		<tr>
			<th class="nobr" width="1%"><%= check_box_tag 'list_select_all', 1, false %> ID</th>
			<th width="1%">Active</th>
			<th width="1%">Level</th>
			<th width="1%">Last&nbsp;Login</th>
			<th width="1%">Username</th>
			<th width="49%">Name</th>
			<th width="49%">Title</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %></td>
				<td class="nobr"><%= yn o.active %></td>
				<td class="nobr"><%= lbl('user', o.level) %></td>
				<td class="nobr"><%= o.last_login_at.d %></td>
				<td class="nobr"><%= link_to o.label, action: :view, id: o.id %></td>
				<td width="49%"><%= o.name %></td>
				<td width="49%"><%= o.title %></td>
			</tr>
		<% } %>
	</tbody>
</table>