<table class="data">
	<thead>
		<tr>
			<th width="1%" class="nobr"><%= check_box_tag 'list_select_all', 1, false %> ID
			<th width="1%">EHIPS</th>
			<th width="99%">Name</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %></td>
				<td class="nobr"><%= o.ehips_link %></td>
				<td class="nobr"><%= link_to o.name, controller: :fd_inspection_codes, action: :view, id: o.id %></td>
			</tr>
		<% } %>
	</tbody>
</table>