<%= f.tr_text_field :church_name, req: true, label: 'Church Name' %>
<tr>
	<th>Address</th>
	<td class="subform">
		<table>
			<tr>
				<th>Street Address</th>
				<th>City</th>
				<th>Zip</th>
			</tr>
			<tr>
				<td><%= f.text_field :address, style: 'width: 300px;' %></td>
				<td><%= f.text_field :city, style: 'width: 200px;' %></td>
				<td><%= f.text_field :zipcode, style: 'width: 100px;' %></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Permit Dates</th>
	<td class="subform">
		<table>
			<tr>
				<th>Issue Date</th>
				<th>Expire Date</th>
			</tr>
			<tr>
				<td><%= f.text_field :issue_date, class: 'date', value: o.issue_date.d4 %></td>
				<td><%= f.text_field :expiration_date, class: 'date', value: o.expiration_date.d4 %></td>
			</tr>
		</table>
	</td>
</tr>