<%= f.tr_text_field :code_section, label: 'Code/Section', req: true %>
<tr>
	<th>Red/Blue <span class="req">*</span></th>
	<td class="nobr">
		<% ['R', 'B'].each { |v| %>
			<label class="lbl-chk"><%= f.radio_button :red_blue, v %><span class="lbl lbl-viol_rb-<%= v.to_s.downcase %>"><%= v %></span></label>
		<% } %>
	</td>
</tr>
<%= f.tr_text_area :violation, label: 'Violation', req: true %>