<div class="view">
	<dl style="float: none;"><dt>Charges</dt></dl>
	<table class="sheet wrap">	
		<tr>
			<% tpl = @obj.template %>
			<th><%= (tpl && tpl.label_item_name).presence || 'Item' %></th>
			<th><%= (tpl && tpl.label_item_amount).presence || 'Amount' %></th>
		</tr>
		<% if details.empty? %>
			<tr><td colspan="10">No charges on invoice.</td></tr>
		<% else %>
			<% details.each { |d| %>
				<tr>
					<td class="tl"><%= d.item_name_short %></td>
					<td class="tr"><%= n2 d.amount %></td>
				</tr>
			<% } %>
		<% end %>
		<tr>
			<th colspan="1" class="tr">Total</th>
			<td class="tr"><%= n2 o.amount %></td>
		</tr>
	</table>
</div>