<style>
	table.data .lbl { display: inline-block; }
</style>
<table class="data">
	<thead>
		<tr>
			<th width="1%" class="nobr"><%= check_box_tag 'list_select_all', 1, false %> ID<br>EHIPs</th>
			<th width="1%">Issued<br>Expires</th>
			<th width="1%">Active<br>Supv</th>
			<th width="49%">Pool Name &middot; Municipality &middot; Contact Person<br>Facility Code &middot; Type</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %><br><%= o.ehips_operation_id %></td>
				<td class="nobr"><%= o.issue_date.d %>&nbsp;<br><%= o.expiration_date.d %></td>
				<td class="nobr"><%= lbl 'plactive', o.active %><br><%= o.supervision %></td>
				<td><%= link_to blank_tag(o.pool_name), controller: :pl_pools, action: :view, id: o.id %> &middot; <%= blank_tag o.municipality %> &middot; <%= blank_tag o.contact_person %><br>
					<%= blank_tag o.facility_code %> &middot; <%= blank_tag o.facility_type %></td>
			</tr>
		<% } %>
	</tbody>
</table>