<div class="btns">
	<%= link_to fa('certificate', 'Print Permit'), {action: :permit, id: o.id}, target: '_blank' %>
	<div class="clear"></div>
</div>
<div class="view">
	<%= dl 'QuickBooks Customer', o.qb_customer ? link_to(o.qb_customer.label, context: nil, context_id: nil, controller: :qb_customers, action: :view, id: o.qb_customer_id) : '' %>
</div>
<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Active', lbl('plactive', o.active) %>
	<%= dl 'Inspector', o.inspector %>
	<%= dl 'Supervision', o.pl_supervision_level ? link_to(o.supervision, context: nil, controller: :pl_supervision_levels, action: :view, id: o.pl_supervision_level.id) : o.supervision %>
	<%= dl 'Issued', o.issue_date.d4 %>
	<%= dl 'Expires', o.expiration_date.d4 %>
</div>
<div class="view">
	<%= dl 'Pool Name', o.pool_name %>
	<%= dl 'Address', [o.pool_address, o.city, "#{o.state} #{o.zip}".strip].reject(&:blank?) * ', ' %>
	<%= dl 'Municipality', o.municipality %>
</div>
<div class="view">
	<%= dl 'Facility Code', o.facility_code %>
	<%= dl 'Facility Type', o.pl_fee_schedule ? link_to(o.facility_type, context: nil, controller: :pl_fee_schedules, action: :view, id: o.pl_fee_schedule.id) : o.facility_type %>
	<%= dl 'Facility Name', o.facility_name %>
	<%= dl 'Nonseasonal', yn(o.nonseasonal) %>
</div>
<div class="view">
	<%= dl 'Contact Person', o.contact_person %>
	<%= dl 'Title', o.title %>
	<%= dl 'Phone', o.phone %>
	<%= dl 'Email 1', o.email1 %>
	<%= dl 'Email 2', o.email2 %>
</div>
<div class="view">
	<%= dl 'Size', o.size %>
	<%= dl 'Surface Area', n0(o.surface_area) %>
	<%= dl 'Min Depth',n2(o.min_depth) %>
	<%= dl 'Max Depth', n2(o.max_depth) %>
	<%= dl 'Bather Load', n0(o.bather_load) %>
	<%= dl 'Capacity (gal)', n0(o.capacity_gal) %>
	<%= dl 'Turnover Rate (min)', n0(o.turnoverrate_min) %>
	<%= dl 'Diving Board', yn(o.diving_board) %>
	<%= dl 'Board Approved', lbl('plboard', o.board_approved) %>
</div>
<div class="view">
	<%= dl 'Water Source', o.water_source %>
	<%= dl 'Make of Filter', o.make_of_filter %>
	<%= dl 'Number', o.number %>
	<%= dl 'Filter Rate', o.filter_rate %>
</div>
<div class="view">
	<%= dl 'Tile', o.tile %>
	<%= dl 'Concrete', o.concrete %>
</div>
<div class="view">
	<%= dl 'Fresh Water', o.freshwater %>
	<%= dl 'Disinfection', o.disinfection %>
</div>
<div class="view">
	<%= dl 'Waste To', o.waste_to %>
	<%= dl 'Coagulant', o.coagulant %>
</div>
<div class="view">
	<%= dl 'Pool Opera', o.pool_opera %>
</div>
<div class="view">
	<%= dl 'Comments', nl2br_h(o.comments) %>
</div>
<div class="view">
	<%= dl 'Plan #', o.plan %>
	<%= dl 'Plan Location', o.plan_location %>
</div>
<div class="view">
	<%= dl 'Safety Plan Rec\'d', o.safety_plan_recd.d4 %>
	<%= dl 'App. Rec\'d', o.app_recd_date.d4 %>
	<%= dl 'Permit Mailed', o.perm_mail_date.d4 %>
	<%= dl 'Paid Date', o.paid_date.d4 %>
	<%= dl 'Wrk. Cmp. OK', o.wc_recd_ok.d4 %>
	<%= dl 'Disab. OK', o.db_recd_ok.d4 %>
</div>
<div class="view">
	<%= dl 'Fee Exempt', lbl('plexempt', o.fee_exempt) %>
	<%= dl 'Bill To Name', o.bill_to %>
	<%= dl 'Bill To Address', [o.bill_address, o.bill_city, "#{o.bill_state} #{o.bill_zip}".strip].reject(&:blank?) * ', ' %>
</div>
<div class="view">
	<%= dl 'Supervision Text', nl2br_h(o.pl_supervision_level.try(:text)) %>
</div>
<div class="view">
	<%= dl 'State ID', o.state_id %>
	<%= dl 'EHIPs Operation ID', o.ehips_operation_id %>
	<%= dl 'EHIPs OP Key', o.ehips_op_key %>
	<%= dl 'Operation Key', o.operation_key %>
	<%= dl 'Category', o.category %>
	<%= dl 'Subcategory', o.subcategory %>
	<%= dl 'Permit Key', o.permit_key %>
	<%= dl 'Facility Key', o.facility_key %>
	<%= dl 'Primary OP', yn(o.primary_op) %>
	<%= dl 'Primary Pool OP', yn(o.primary_pool_op) %>
</div>
<div class="view">
<%= dl 'Number', o.number2 %>
<%= dl 'Update Val', o.update_val %>
<%= dl 'Offline Sort', o.offlinesort %>
</div>