<% o = @obj %><!DOCTYPE html>
<html>
<head>
<style>
html, body { margin: 0; padding: 0; box-sizing: border-box; width: 8in; height: 10.5in; font: 16px/1.3 "Times New Roman"; }
* { box-sizing: inherit; font-family: inherit; font-size: inherit; }
#wrap:before { content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; opacity: .1; z-index: -1;
	background: url(<%= Rails.root %>/public/mc-logo-high-res.png) no-repeat;
	background-size: 80%;
	background-position: center;
}
#wrap { height: 100%; width: 100%; border: 2px solid #000; position: relative; padding: .3in; }
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
p { margin: .6em 0; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.nobr { white-space: nowrap; }
</style>
</head>
<body>
<div id="wrap">


<p class="tc" style="margin-top: 0;">MONROE COUNTY DEPARTMENT OF PUBLIC HEALTH<br>
BUREAU OF PUBLIC HEALTH ENGINEERING<br>
111 WESTFALL ROAD, ROOM 916<br>
ROCHESTER, NY 14620<br>
(585) 753-5057</p>

<% y = o.issue_date.try(:year) %>
<p class="tc"><b><span class="left"><%= y %></span><span class="right"><%= y %></span>
<%= o.facility_type %> PERMIT</b></p>

<p>Written application having duly been made for a permit to maintain a swimming pool and, after an 
inspection of said pool as prescribed by Part 6 of the New York State Sanitary Code, permission is 
hereby granted to <b><%= o.bill_to %></b> to operate and maintain a pool known as <b><%= o.pool_name %></b> at 
<b><%= o.pool_address %></b> in <b><%= o.municipality %></b>, MONROE COUNTY, NEW YORK.  The pool is to be used by 
not more than <b><%= n0(o.bather_load) %></b> persons at any one time. Treatment of the pool water shall be by <b><%= o.water_source %></b>.

<p>THIS PERMIT IS GRANTED SUBJECT TO THE FOLLOWING CONDITIONS:</p>

<ol>
	<li>THAT the  pool shall be operated at all times in compliance with the State Sanitary Code (SSC) Subpart 6-1, Swimming Pools, and to the Monroe County Department of Public Health’s (MCDOPH) satisfaction.</li>
	<li>THAT if any interruptions in treatment or other conditions occur which may affect the sanitary quality of pool water, the pool shall be promptly closed and not reopened until authorization is received from MCDOPH.</li>
	<li>THAT complete monthly reports of daily pool operations shall be submitted monthly by the 10th of the following month, to MCDOPH on forms which are furnished by MCDOPH.</li>
	<li>THAT whenever required by MCDOPH, such modifications, or installation of more adequate equipment as needed for pool operations to be in compliance with SSC provisions, then plans for such modifications/installations of more adequate equipment shall first be reviewed and approved by MCDOPH.</li>
	<li>THAT approved lifesaving equipment must be readily accessible at the pool.</li>
	<% stxt = o.pl_supervision_level.try(:text) %>
	<% if stxt %>
		<% stxt.each_line { |l| %>
			<li><%= l %></li>
		<% } %>
	<% end %>
</ol>

<div class="right" style="width: 3in;">
	<p style="padding-left: .25in; margin-bottom: 0;"><img src="<%= Rails.root %>/public/mendoza-signature.png" style="width: 2.25in; height: auto;"></p>
	<p style="font-size: 16px; margin-top: 0;">Michael D. Mendoza, MD, MPH, MS<br>
	Commissioner of Public Health<br>
	Permit Issuing Official</p>
</div>
<div class="clear"></div>

<p><span class="left">DATE ISSUED: <%= o.issue_date.d4 %></span>&nbsp;<span class="right">EXPIRATION_DATE: <%= o.expiration_date.d4 %></span></p>

<p><span class="left">Notes:</span>
<span class="left" style="padding-left: 1in;">THIS PERMIT MAY BE REVOKED FOR CAUSE.<br>
THIS PERMIT IS NON-TRANSFERABLE.<br>
THIS PERMIT SHOULD BE POSTED CONSPICUOUSLY.</span></p>
<div class="clear"></div>
</div>
</body>
</html>