<style>
	th { width: 140px; }
</style>
<% admin = params[:controller] == 'agents' %>
<%= f.tr_text_field :first_name, label: 'First Name', req: true, required: true %>
<%= f.tr_text_field :last_name, label: 'Last Name', req: true, required: true %>
<%= f.tr_text_field :badge_number, label: 'Badge Number' %>
<%= f.tr_text_field :last_4ssn, label: 'Last 4SSN', req: true, required: true %>
<%= f.tr_text_field :division_unit, label: 'Division Unit' %>
<%= f.tr_text_field :title, label: 'Title' %>
<%= f.tr_text_field :location, label: 'Location' %>
<%= f.tr_text_field :room, label: 'Room' %>
<%= f.tr_text_field :office_phone, label: 'Office Phone' %>
<%= f.tr_text_field :pager_phone, label: 'Pager Phone' %>
<%= f.tr_text_field :cell_phone, label: 'Cell Phone' %>
<div class="data">
	<th>Supervisor <span class="req">*</span></th>
</div>

<%#= select_tag "Supervisor", options_for_select([['sudhir', 1], ['reddy', 2]]), class: 'data', style: 'width: 100%;' %>
	
	