<div class="view">
  <%= dl 'AgentID', o.id %>
  <%= dl 'LastName', o.last_name %>
  <%= dl 'FirstName', o.first_name  %>
  <%= dl 'BadgeNumber', o.badge_number%>
  <%= dl 'Last4SSN',  o.last_4ssn %>
  <%= dl 'DivisionUnit',  o.division_unit %>
  <%= dl 'Title',  o.title %>
  <%= dl 'Location',  o.location %>
  <%= dl 'Room',  o.room %>
  <%= dl 'OfficePhone',  o.office_phone %>
  <%= dl 'Supervisor',  o.supervisor %>
</div>

