<% if o.new_record? %>
	<tr>
		<th style="width: 100px;">Source <span class="req">*</span></th>
		<td id="obj_generated">
			<label><%= f.radio_button :generated, false %> Upload</label>&nbsp;&nbsp;&nbsp;
			<label><%= f.radio_button :generated, true %> Generate From Template</label>
		</td>
	</tr>
	<tr class="upload">
		<th>Upload <span class="req">*</span></th>
		<td>
			<%= f.file_field :upload %>
		</td>
	</tr>
	<% o.name = 'Blank Template.pdf' if !request.post? %>
<% end %>
<% if !o.new_record? && !o.generated %>
	<%= f.tr_text_field :name, req: true, label: 'File Name', tr: {class: 'generate'} %>
<% else %>
	<%= partial 'documents/fields_common', f: f, o: o %>
	<script>
		var toggle_fields = function() {
			var v = <% if o.new_record? %>$('#obj_generated input:checked').val() == 'true'<% else %>true<% end %>;
			$('.upload').toggle(!v).find('input, textarea').prop('disabled', v);
			$('.generate').toggle(v).find('input, textarea').prop('disabled', !v);
			if(cke) {
				cke.setReadOnly(!v);
			}
			if(v) {
				var no_edit = $('#obj_doc_template_id_or_action').val().match(/[^\d]+/);
				$('.user-tpl').toggle(!no_edit).find('input, textarea').prop('disabled', no_edit);
			}
		}
		$('#obj_generated input').change(function(e) {
			toggle_fields();
			set_file_name();
		});
		toggle_fields();
	</script>
<% end %>