<div class="btns">
	<%= link_to fa('download', 'Download'), {action: :download, id: o.id}, target: '_blank' %>
	<%= link_to fa('download', 'Download to Word'), {action: :word, id: o.id}, target: '_blank' %>
</div>
<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Name', o.name %>
	<%= dl 'Created By', o.user.try(:username) %>
	<%= dl 'Created At', o.created_at.dt %>
</div>
<div class="view">
	<%= dl 'Attached To', o.obj ? link_to(o.obj.label, context: nil, controller: o.obj_type.underscore.pluralize, action: :view, id: o.obj_id, context: nil, context_id: nil) : '' %>
	<%= dl 'Bulk Document', o.doc_bulk ? link_to(o.doc_bulk.label, context: nil, controller: :doc_bulks, action: :view, id: o.doc_bulk_id) : '' %>
	<%= dl 'Doc Template', o.doc_template ? link_to(o.doc_template.label, context: nil, controller: :doc_templates, action: :view, id: o.doc_template_id) : '' %>
</div>
<% if o.generated %>
	<%= partial 'documents/view_common', o: o %>
<% end %>