<div class="view">
	<%= dl('Category', o.qb_category ? link_to(o.qb_category.label, context: nil, context_id: nil, controller: :qb_categories, action: :view, id: o.qb_category_id) : blank_tag) %>
</div>
<%= partial 'application/view', o: o %>
<% if !o.fd_establishments.empty? %>
	<h2 style="margin: 8px; font-size: 16px;">Food Establishments</h2>
	<%= partial 'fd_establishments/list', objs: o.fd_establishments %>
<% end %>
<% if !o.pl_pools.empty? %>
	<h2 style="margin: 8px; font-size: 16px;">Pools</h2>
	<%= partial 'pl_pools/list', objs: o.pl_pools %>
<% end %>
<% if !o.tf_facilities.empty? %>
	<h2 style="margin: 8px; font-size: 16px;">Temporary Food</h2>
	<%= partial 'tf_facilities/list', objs: o.tf_facilities %>
<% end %>
<% if !o.tr_child_camps.empty? %>
	<h2 style="margin: 8px; font-size: 16px;">Child Camps</h2>
	<%= partial 'tr_child_camps/list', objs: o.tr_child_camps %>
<% end %>
<% if !o.tr_daycares.empty? %>
	<h2 style="margin: 8px; font-size: 16px;">Day Cares</h2>
	<%= partial 'tr_daycares/list', objs: o.tr_daycares %>
<% end %>
<% if !o.tr_others.empty? %>
	<h2 style="margin: 8px; font-size: 16px;">TR Other</h2>
	<%= partial 'tr_others/list', objs: o.tr_others %>
<% end %>
<% if !o.tr_tannings.empty? %>
	<h2 style="margin: 8px; font-size: 16px;">Tanning</h2>
	<%= partial 'tr_tannings/list', objs: o.tr_tannings %>
<% end %>
<% if !o.qb_invoices.empty? %>
	<h2 style="margin: 8px; font-size: 16px;">Invoices</h2>
	<%= partial 'qb_invoices/list', objs: o.qb_invoices %>
<% end %>