<style>
	#submit { display: block; position: fixed; z-index: 10; width: 100%; text-align: center; padding: 8px; color: #000; background: #000; bottom: 0; color: #fff; text-decoration: none; border: none; }
	#submit:hover { background: #444; }
	tr.dim { background-color: #e8e8e8 !important; }
</style>
<button id="submit"><i class="fa fa-compress"></i> Merge Checked Customer Records</button>
<table class="data">
	<thead>
		<tr>
			<th width="1%">ID</th>
			<th width="1%">Active</th>
			<th width="1%">Category</th>
			<th>Customer</th>
			<th>Bill To</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% @objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>" id="obj-<%= o.id %>">
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %></td>
				<td class="nobr"><%= o.active_status %></td>
				<td class="nobr"><%= [o.category, o.category2].reject(&:blank?) * ':' %></td>
				<td><%= link_to [o.customer, o.customer2].reject(&:blank?) * ':', action: :view, id: o.id %></td>
				<td><%= o.bill_to %></td>
			</tr>
		<% } %>
	</tbody>
</table>
<script>
	$('#submit').click(function(e) {
		e.preventDefault();
		var $this = $(this);
		var chks = $('.data input:checked');
		var rows = chks.closest('tr');
		var vals = [];
		console.log(chks);
		chks.each(function(i, el) {
			vals.push($(el).val());
		});
		$this.addClass('busy-bg-i');
		$.ajax({
			url: '<%= url_for action: :merge_submit %>',
			method: 'POST',
			data: {ids: vals},
			complete: function(xhr, status) {
				$this.removeClass('busy-bg-i');
			},
			success: function(data, status, xhr) {
				rows.addClass('dim');
				chks.remove();
			},
			error: function(xhr, status, error) {
				alert('Could not merge records.');
			}
		});
	});
</script>