<%= partial 'division_active_filter', f: f %>
<% show_ledger = params.context != 'qb_ledger' %>
<% show_cost_center = params.context != 'qb_cost_center' %>
<script>
function init_cc_ledger_select2(s, url) {
	init_select2({
		select: s,
		url: url,
		params: function(params) {
			params.division = $('#filter_division input:checked').val();
		},
		item: function(item) {
			item.id = item.code;
			item.text = item.code;
		},
		templateResult: function(item) {
			if(!item.code) return item.text;
			return item.code + ' ' + item.name;
		},
		tags: true
	});	
}
</script>
<% if show_cost_center %>
	<tr>
		<th>Cost Center(s)</th>
		<td><%= f.select :cost_centers, @filter.cost_centers.map { |i| [i, title: ' '] }, {}, multiple: true, style: 'width: 600px;' %></td>
	</tr>
	<script>
	init_cc_ledger_select2('#filter_cost_centers', '<%= url_for context: nil, context_id: nil, controller: :qb_cost_centers, action: :autocomplete %>');
	</script>
<% end %>
<% if show_ledger %>
	<tr>
		<th>Ledger(s)</th>
		<td><%= f.select :ledgers, @filter.ledgers.map { |i| [i, title: ' '] }, {}, multiple: true, style: 'width: 600px;' %></td>
	</tr>
	<script>
	init_cc_ledger_select2('#filter_ledgers', '<%= url_for context: nil, context_id: nil, controller: :qb_ledgers, action: :autocomplete %>');
	</script>
<% end %>