<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Active', yn(o.active) %>
	<%= dl 'Price', n2(o.price) + (o.is_percent ? '%' : '') %>
	<%= dl 'Division', o.division %>
</div>
<div class="view dl-inline">
	<% path = (o.id_path_parts.zip(o.path_parts).map { |id, name| link_to(name, id: id) } + [h(o.name)]).join('<i class="fa fa-fw fa-angle-right"></i>').html_safe %>
	<%= dl 'Item', path %>
</div>
