<%if params[:context] == 'sap_exports' %>
	<table class="data">
		<thead>
			<tr>
				<th width="1%">ID</th>
				<th width="1%" class="tr">Lines</th>
				<th width="1%">Cutoff&nbsp;Date</th>
				<th width="99%">Created</th>
			</tr>
		</thead>
		<tbody>
			<% reset_cycle %>
			<% objs.each { |o| %>
				<tr class="<%= cycle 'odd', 'even' %>">
					<td class="nobr"><%= o.id %></td>
					<td class="nobr tr"><%= o.sap_lines_count %></td>
					<td class="nobr"><%= o.cutoff_date.d %></td>
					<td class="nobr"><%= link_to blank_tag(o.created_at.dt), controller: :sap_exports, action: :view, id: o.id %></td>
				</tr>
			<% } %>
		</tbody>
	</table>

<%else%>
	<div class="btns right" style="margin-top: 4px;">
		<%= tab 'print', 'Print PDF', {action: :print, id: "reports", from_date: @filter["from_date"], to_date: @filter["to_date"]}, {}, target: '_blank' %>
	</div>
	<table class="data">
		<thead>
			<tr>
				<th width="1%">Type</th>
				<th width="1%">Username</th>
				<th width="1%">Count</th>
				<th width="1%">Total</th>
			</tr>
		</thead>
		<tbody>
			<% reset_cycle %>
			<% amount = 0 %>
			<% @results.each { |o| %>
				<tr class="<%= cycle 'odd', 'even' %>">
					<td class="nobr"><%= o.type %></td>
					<td class="nobr"><%= o.username %></td>
					<td class="nobr"><%= o[:count] %></td>
					<td class="nobr"><%= o.total %></td>
					<% amount += o.total %>
				</tr>

			<% } %>
			<tr>
				<td colspan="2"></td>
				<td> <b>Total Amount : </b></td>
				<td> <%= amount %></td>
			</tr>
		</tbody>
	</table>

<%end%>