<%amount=0%>
<h5> Printed on <%= Date.today%></h5>
<%if(params.id == "cacheir details") %>
	<table class="data">
		<thead>
			<tr>
				<th th width="4%">ID</th>
				<th th width="10%">Cashierd At</th>
				<th th width="5%">Payment</th>
				<th th width="10%">Division</th>
				<th th width="15%">Insight EMR-ID</th>
				<th th width="10%">Username</th>
				<th th width="15%">Total Customer</th>
			</tr>
		</thead>
		<tbody>
			<% @objs.each { |o| %>
				<tr class="<%= cycle 'odd', 'even' %>">
					<td align="center"><%= o.id %></td>
					<td align="center"><%= o.date %></td>
					<td align="center"><%= o.pay_method %></td>
					<td align="center"><%= o.division %></td>
					<td align="center"><%= o.num %></td>
					<td align="center"><%= o.created_by&.username %></td>
					<td align="center"><%= o.amount.to_f %></td>
					<% amount += o.amount.to_f %>
				</tr>
			<% } %>
			<tr>
				<td colspan="5"></td>
				<td  align="center"> <b>Total Amount:</b></td>
				<td  align="center"> <%= amount %></td>
			</tr>
		</tbody>
	</table>
<%elsif "sap_exports".eql?(params.controller) && params.id.to_i > 0 %>
	<style>
	tr.invert { background: #000; color: #fff; }
	tr.invert a { color: #fff; }
</style>
<div class="btns">
	<%= tab 'download', 'Download File', action: :download, id: o.id %>
</div>
<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Created', o.created_at.dt %>
	<%= dl '# Lines', o.sap_lines_count %>
</div>
<table class="data">
	<thead>
		<tr>
			<th th width="10%">Center</th>
			<th th width="10%">Credit</th>
			<th th width="10%">Reference</th>
			<th th width="10%">RefKey1</th>
			<th th width="10%">Text</th>
			<th th width="10%">DocHead</th>
			<th th width="10%">Debit</th>
			<th th width="10%">PostDate</th>
			<th th width="10%">Assignment</th>
			<th th width="10%">RefKey2</th>
			<th th width="10%">RefKey3</th>
			<th th width="10%">Amount</th>
			<th th width="10%">InvDate</th>
			<th th width="10%">Customer</th>
			<th th width="10%">Resent</th>
		</tr>
	</thead>
	<% id2 = params.id2.to_i %>
	<% o.sap_lines.eager_load(:qb_transaction_detail, :pay_qb_transaction_detail).each { |l| %>
		<tbody class="<%= cycle 'odd', 'even' %>">
			<tr id="line-<%= l.id %>"<% if l.id == id2 %> class="invert"<% end %>>
				<td  align="center"><%= l.cost_center %></td>
				<td  align="center"><%= l.credit %></td>
				<td  align="center"><%= l.reference %></td>
				<td  align="center"><%= l.reference_key1.to_i %></td>
				<td  align="center"><%= l.text %></td>
				<td  align="center"><%= l.document_header %></td>
				<td  align="center"><%= l.debit %></td>
				<td  align="center"><%= l.posting_date.d %></td>
				<td  align="center"><%= l.assignment %></td>
				<td  align="center"><%= l.reference_key2 %></td>
				<td  align="center"><%= l.reference_key3 %></td>
				<td  align="center"><%= l.amount && '%.2f' % l.amount %></td>
				<td  align="center"><%= l.invoice_date.d %></td>
				<td  align="center"><%= l.customer %></td>
				<td  align="center"><%= l.resent %></td>
			</tr>
		</tbody>
	<% } %>	
</table>
<script>
	var h = window.location.hash;
	if(h) {
		$(h).effect('highlight');
	}
</script>
<%else%>
	<table class="data">
		<thead>
			<tr>
				<th width="10%">Type</th>
				<th width="10%">Username</th>
				<th width="10%">Count</th>
				<th width="10%">Total</th>
			</tr>
		</thead>
		<tbody>
			<% @results.each { |o| %>
				<tr>
					<td align="center" width="10%"><%= o.type %></td>
					<td align="center" width="10%"><%= o.username %></td>
					<td align="center" width="10%"><%= o[:count] %></td>
					<td align="center" width="10%"><%= o.total %></td>
					<% amount += o.total %>
				</tr>
			<% } %>
			<tr>
				<td colspan="2"></td>
				<td align="center"> <b>Total Amount : </b></td>
				<td align="center"> <%= amount %></td>
			</tr>
		</tbody>
	</table>
<%end%>