<%amount=0%>
<h5> Printed on <%= Date.today%></h5>
<%if(params.id == "cacheir details") %>
	<table class="data">
		<thead>
			<tr>
				<th width="1%">ID</th>
				<th width="1%">Cashierd At</th>
				<th width="1%">Payment</th>
				<th width="1%">Division</th>
				<th width="1%">Insight EMR-ID</th>
				<th width="1%">Username</th>
				<th width="1%">Total Customer</th>
			</tr>
		</thead>
		<tbody>
			<% @objs.each { |o| %>
				<tr class="<%= cycle 'odd', 'even' %>">
					<td class="nobr"><%= o.id %></td>
					<td class="nobr"><%= o.date %></td>
					<td class="nobr"><%= o.pay_method %></td>
					<td class="nobr"><%= o.division %></td>
					<td class="nobr"><%= o.num %></td>
					<td class="nobr"><%= o.created_by&.username %></td>
					<td class="nobr"><%= o.amount.to_f %></td>
					<% amount += o.amount.to_f %>
				</tr>
			<% } %>
			<tr>
				<td colspan="5"></td>
				<td> <b>Total Amount:</b></td>
				<td> <%= amount %></td>
			</tr>
		</tbody>
	</table>
<%elsif "sap_exports".eql?(params.controller) && params.id.to_i > 0 %>
	<style>
	tr.invert { background: #000; color: #fff; }
	tr.invert a { color: #fff; }
</style>
<div class="btns">
	<%= tab 'download', 'Download File', action: :download, id: o.id %>
</div>
<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Created', o.created_at.dt %>
	<%= dl '# Lines', o.sap_lines_count %>
</div>
<table class="data">
	<thead>
		<tr>
			<th>Center</th>
			<th>Credit</th>
			<th>Reference</th>
			<th>RefKey1</th>
			<th>Text</th>
			<th>DocHead</th>
			<th>Debit</th>
			<th>PostDate</th>
			<th>Assignment</th>
			<th>RefKey2</th>
			<th>RefKey3</th>
			<th class="tr">Amount</th>
			<th>InvDate</th>
			<th>Customer</th>
			<th>Resent</th>
		</tr>
	</thead>
	<% id2 = params.id2.to_i %>
	<% o.sap_lines.eager_load(:qb_transaction_detail, :pay_qb_transaction_detail).each { |l| %>
		<tbody class="<%= cycle 'odd', 'even' %>">
			<tr id="line-<%= l.id %>"<% if l.id == id2 %> class="invert"<% end %>>
				<td><%= l.cost_center %></td>
				<td><%= l.credit %></td>
				<td><%= l.reference %></td>
				<td><%= l.reference_key1.to_i %></td>
				<td><%= l.text %></td>
				<td><%= l.document_header %></td>
				<td><%= l.debit %></td>
				<td><%= l.posting_date.d %></td>
				<td><%= l.assignment %></td>
				<td><%= l.reference_key2 %></td>
				<td><%= l.reference_key3 %></td>
				<td class="tr"><%= l.amount && '%.2f' % l.amount %></td>
				<td><%= l.invoice_date.d %></td>
				<td><%= l.customer %></td>
				<td><%= l.resent %></td>
			</tr>
		</tbody>
	<% } %>	
</table>
<script>
	var h = window.location.hash;
	if(h) {
		$(h).effect('highlight');
	}
</script>
<%else%>
	<table class="data">
		<thead>
			<tr>
				<th width="10%">Type1</th>
				<th width="10%">Username</th>
				<th width="10%">Count</th>
				<th width="10%">Total</th>
			</tr>
		</thead>
		<tbody>
			<% @results.each { |o| %>
				<tr>
					<td align="center" width="10%"><%= o.type %></td>
					<td align="center" width="10%"><%= o.username %></td>
					<td align="center" width="10%"><%= o[:count] %></td>
					<td align="center" width="10%"><%= o.total %></td>
					<% amount += o.total %>
				</tr>
			<% } %>
			<tr>
				<td colspan="2"></td>
				<td align="center"> <b>Total Amount : </b></td>
				<td align="center"> <%= amount %></td>
			</tr>
		</tbody>
	</table>
<%end%>