<% @filter.url = url_for(action: :ve, protocol: 'http', only_path: false) %>
<%= table_form_for(:filter) { |f| %>
	<tr>
		<th><i class="fa fa-question-circle"></i></th>
		<td>The vehicle calendar can be viewed in any external application that accepts a URL feed in the iCalendar format. Use the filter options below
		to get a iCalendar URL for specific users/vehicles, or copy the base URL for the full calendar.
		</td>
	</tr>
	<%= f.tr_text_field :url, label: 'URL', readonly: true, after: '<div>Click above to copy.</div>', style: 'width: 600px;' %>
	<%= partial 've_vehicles/filter_ve_vehicle_ids', f: f %>
	<tr>
		<th>Users</th>
		<td>
			<%= partial 'users/user_ids_field', value: @filter.user_ids, field: 'filter[user_ids]' %>
			<a href="#" onclick="$('#filter_user_ids').val(<%= @current_user.id %>).change(); return false;">My Reservations</a>
		</td>
	</tr>
<% } %>
<script>
	var url_field = $('#filter_url');
	var u = url_field.val();
	$('#filter_ve_vehicle_ids, #filter_user_ids').change(function(e) {
		ve_vehicle_ids = $('#filter_ve_vehicle_ids').val();
		user_ids = $('#filter_user_ids').val();
		url_field.val(u + (user_ids || ve_vehicle_ids ? '/' : '') + 
			(user_ids ? user_ids.join('-') : (ve_vehicle_ids ? 'all' : '')) +
			(ve_vehicle_ids ? '/' + ve_vehicle_ids.join('-') : '')
		);
	});
	url_field.click(function(e) {
		url_field.select();
		try {
			document.execCommand('copy');
			url_field.effect('highlight');
		}
		catch(err) {
		}
	});
</script>