<table class="data">
	<thead>
		<tr>
			<th width="1%" class="nobr"><%= check_box_tag 'list_select_all', 1, false %> ID<br>No.
			<th width="1%" class="nobr">S/U<br>Staff</th>
			<th width="1%" class="nobr">Act. Date<br>Reinsp. Due</th>
			<th width="99%" class="nobr">Facility Type &middot; Facility Name<br>Activity Type &middot; Notes</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %><br><%= o.fac_no %></td>
				<td class="nobr"><% if o.s_u.present? %><%= lbl('su', o.s_u) %><% else %><br><% end %><%= o.staff_initials %></td>
				<td class="nobr"><%= link_to o.activity_date.d, controller: :tr_activities, action: :view, id: o.id %><br><%= o.reinspection_due.d %></td>
				<td class="nobr">
					<%= blank_tag o.facility_type %> &middot; <%= blank_tag o.facility_name %><br>
					<%= blank_tag o.activity_type %><% if o.notes.present? %> &middot; <%= o.notes %><% end %>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>