<%= f.tr_text_field :description, label: 'Name/Description', after: '<div>Optional label to display on calendar.</div>' %>
<tr>
	<th>Type</th>
	<td id="obj_availability">
		<label><%= f.radio_button :availability, false %> <b>Reservation</b></label> - Normal vehicle reservation. No one else will be able to reserve the vehicle(s) during the selected dates/times.<br>
		<label><%= f.radio_button :availability, true %> <b>Availability</b></label> - Restricts (or allows) who can make a reservation during the selected dates/times. Overrides the vehicle user list.
	</td>
</tr>
<tr>
	<th>Users</th>
	<td>
		<%= hidden_field_tag 'obj[check_new_user_ids]', '1' %>
		<%= partial 'users/user_ids_field', value: o.new_user_ids, field: 'obj[new_user_ids]' %>
		<div class="users-help-r">Users reserving the vehicle(s). Will be able to edit this reservation as long as they also belong to the vehicle user list (or if an availability includes them).</div>
		<div class="users-help-a" style="display: none;">Users that can reserve the vehicle(s) during the dates/times below. If left blank, all users will be able to reserve.</div>
	</td>
</tr>
<script>
	$(function() {
		var users_help_toggle = function() {
			var v = $('#obj_availability input:checked').val();
			$('.users-help-r').toggle(v == 'false');
			$('.users-help-a').toggle(v == 'true');
		};
		users_help_toggle();
		$('#obj_availability input').change(users_help_toggle);
	});
</script>