<%
vehicle_opts = VeVehicle.order('ve_vehicles.vehicle_no').reservable(@current_user, s.ve_vehicle_ids).map { |v| 
	lbl = v.no_ymm_name; 
	[lbl, v.id, {title: lbl, data: {no: v.vehicle_no}}]
}
%>
<%= fields_for('obj[new_schedules][]', s, index: i) { |ff| %>
<tr class="schedule">
	<th>Schedule <span class="num"></span><br>		
		<a href="#" class="schedule-delete red"><i class="fa fa-fw fa-minus-circle"></i>Delete</a><br>
		<a href="#" class="schedule-deselect-all"><i class="fa fa-fw fa-square-o"></i>Deselect All</a>
	</th>
	<td class="subform">
		<table>
			<tr>
				<td colspan="3"><%= ff.select :ve_vehicle_ids, vehicle_opts, {include_hidden: false}, multiple: true, class: 'schedule-ve-vehicle-ids', style: 'width: 100%;', 'data-placeholder' => 'Vehicles' %></td>
			</tr>
			<tr>
				<td width="1">
					<%= ff.hidden_field :dates, class: 'schedule-dates' %>
					<div class="mcal" style="margin-top: -2px;"></div>
				</td>
				<td class="subform">
					<table class="schedule-season-select">
						<tr>
							<td>Select Range: <i class="fa fa-question-circle" title="Select days 1 by 1 or use the &quot;Select Range&quot; tool to select multiple days at once. Enter a date range + week days, then click &quot;Select&quot; to pick them on the calendar."></i></td>
						</tr>
						<tr><td class="nobr"><%= select_tag 'date_presets', options_for_select(date_preset_options('future')), style: 'width: 130px;' %></td></tr>
						<tr><td class="nobr"><%= text_field_tag 'from', '', class: 'date', style: 'width: 130px;', placeholder: 'From Date' %></td></tr>
						<tr><td class="nobr"><%= text_field_tag 'to', '', class: 'date', style: 'width: 130px;', placeholder: 'To Date' %></td></tr>
						<tr><td class="nobr">
							<div class="lbl-chk-grp schedule-wday">
								<% %w{S M T W T F S}.each_with_index { |d, i| %>
									<label class="lbl-chk"><%= check_box_tag 'wday', i, false %><span class="lbl"><%= d %></span></label>
								<% } %>
							</div>
						</td></tr>
						<tr><td>
							<a href="#" class="schedule-select-dates"><i class="fa fa-fw fa-check-square-o"></i>Select</a>
							<a href="#" class="schedule-deselect-dates red"><i class="fa fa-fw fa-square-o"></i>Deselect</a>
						</td></tr>
					</table>
				</td>
				<td class="subform">
					<table>
						<tr>
							<td>Begin/End Time: <i class="fa fa-question-circle" title="Leave the begin &amp; end time blank for an all-day reservation. If you need different times for different days, enter them in a separate schedule by clicking &quot;Add Schedule&quot; below."></i></td>
						</tr>
						<tr>	
							<td><%= ff.text_field :begin_time, style: 'width: 100px;', placeholder: 'Begin Time', value: s.begin_time, class: 'schedule-begin' %></td>
						</tr>
						<tr>
							<td><%= ff.text_field :end_time, style: 'width: 100px;', placeholder: 'End Time', value: s.end_time, class: 'schedule-end' %></td>
						</tr>
						<tr>
							<td>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<% } %>