<% tpl = o.qb_template %>
<tr class="type-invoice type-sales-receipt">
	<th>Line Items <span class="req">*</span></th>
	<td class="subform tbl-resize-wrap">
		<table class="sheet tbl-resize" id="invoice-table">
			<tbody>
				<tr>
					<th><div id="lbl_name"><%= (tpl && tpl.label_item_name).presence || 'Item' %></div></th>
					<th><div id="lbl_desc"><%= (tpl && tpl.label_item_desc).presence || 'Description' %></div></th>
					<th width="50" class="tr"><div id="lbl_price"><%= (tpl && tpl.label_item_price).presence || 'Price' %></div></th>
				</tr>
			</tbody>
			<tbody id="new_details">
				<% o.new_details.each_with_index { |d, i| %>
					<%= partial 'invoice_detail_fields', {d: d, o: o, i: i} %>
				<% } %>
				<% details_row_count = o.new_details.size %>
				<% extra = 3%>
				<% extra.times { |i| %>
					<%= partial 'invoice_detail_fields', {d: {cost_center: o.cost_center, debit_ledger: o.debit_ledger, credit_ledger: o.credit_ledger}, o: o, i: details_row_count + i} %>
				<% } %>
				<% details_row_count += extra %>
			</tbody>
			<tbody>
				<tr>
					<td colspan="2">
						<a href="#" id="detail_new"><i class="fa fa-plus-circle"></i> Add Item</a>
					</td>
				</tr>
				<tr>
					<th colspan="2" class="tr"><div>Total:</div></th>
					<th class="tr"><div><span id="new_amount"><%= n2 o.amount %></span><%= f.hidden_field :new_amount, value: o.amount %></div></th>
				</tr>
			</tbody>
		</table>
	</td>
</tr>