<table class="data">
	<thead>
		<tr>
			<th width="1%" class="nobr"><%= check_box_tag 'list_select_all', 1, false %> ID</th>
			<th width="1%">When</th>
			<th width="1%">User</th>
			<th width="1%">Action</th>
			<% if params.context.nil? %>
				<th width="1%">Object</th>
			<% end %>
			<% if params.context_id.nil? %>
				<th width="1%">ID</th>
			<% end %>
			<th width="1%">Field</th>
			<th width="50%">Before</th>
			<th width="50%">After</th>
		</tr>
	</thead>
	<% objs.each { |o| %>
		<% changes = [] %>
		<% o.values.each { |f, v| %>
			<% changes << capture { %>
				<td class="nobr"><%= f %></td>
				<td><%= nl2br_h v[0].to_s.truncate(200) %></td>
				<td><%= nl2br_h v[1].to_s.truncate(200) %></td>
			<% } %>
		<% } %>
		<tbody class="<%= cycle 'odd', 'even' %>">
			<tr>
				<td rowspan="<%= changes.size %>" class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %></td>
				<% url = {controller: :db_changes, action: :view, id: o.id, context: params.context, context_id: params.context_id} %>
				<td rowspan="<%= changes.size %>" class="nobr"><%= link_to o.created_at.dt, url %></td>
				<td rowspan="<%= changes.size %>" class="nobr"><%= o.user.try(:username) %></td>
				<td rowspan="<%= changes.size %>" class="nobr"><%= o.action %></td>
				<% if params.context.nil? %>
					<td rowspan="<%= changes.size %>" class="nobr"><%= h o.obj_type %></td>
				<% end %>
				<% if params.context_id.nil? %>
					<td rowspan="<%= changes.size %>" class="nobr"><%= h o.obj_id %></td>
				<% end %>
				<%= changes.shift %>
			</tr>
			<% changes.each { |c| %>
				<tr><%= c %></tr>
			<% } %>
		</tbody>
	<% } %>
</table>