<% if o.ve_reservation && o.ve_reservation.ve_events.count > 1 %>
	<tr>
		<th><i class="fa fa-warning"></i></th>
		<td>You are editing a single day/vehicle for a multiple-day reservation. Changing the description or users will split this day/vehicle off into its own reservation. 
		<%= link_to 'Click here to view/edit the full reservation.', {popup: nil, context: nil, context_id: nil, controller: :ve_reservations, action: :view, id: o.ve_reservation_id}, target: '_top' %></td>
	</tr>
<% end %>
<%= f.tr_text_field :description, label: 'Description', req: true %>
<tr>
	<th>Users</th>
	<td>
		<%= hidden_field_tag 'obj[check_new_user_ids]', '1' %>
		<%= partial 'users/user_ids_field', value: o.new_user_ids, field: 'obj[new_user_ids]' %>
	</td>
</tr>
<%= f.tr_select :ve_vehicle_id, VeVehicle.reservable(@current_user, o.ve_vehicle_id).order('ve_vehicles.vehicle_no').map { |v| 
		[v.no_ymm_name, v.id] 
	}, label: 'Vehicle', include_blank: true, req: true %>
<%= f.tr_text_field :date, class: 'date', value: o.date.d, label: 'Date', req: true %>
<%= f.tr_text_field :begin_time, class: 'time', value: o.begin_time.t, label: 'Begin Time', style: 'width: 100px;' %>
<%= f.tr_text_field :end_time, class: 'time', value: o.end_time.t, label: 'End Time', style: 'width: 100px;' %>
<script>
	$('#obj_begin_time, #obj_end_time').inputmask('hh:mm t', {showMaskOnHover: true});
</script>