<table class="data" id="documents-table">
	<thead>
		<tr>
			<th width="1%" class="nobr"><%= check_box_tag 'list_select_all', 1, false %> ID</th>
			<th width="1%">Type</th>
			<th width="1%">Created</th>
			<th width="1%">User</th>
			<th width="97%">Name</th>
		</tr>
	</thead>
	<% reset_cycle %>
	<% objs.each { |o| %>
		<tbody class="<%= cycle 'odd', 'even' %>">
			<tr>
				<td class="nobr"><%= check_box_tag 'list[]', o.id, false, class: 'list_select', id: nil %> <%= o.id %></td>
				<td class="nobr"><%= o.type %></td>
				<td class="nobr"><%= o.created_at.dt %></td>
				<td class="nobr"><%= o.user.try(:username) %>
				<td><%= link_to o.name, action: :view, id: o.id %></td>
			</tr>
		</tbody>
	<% } %>
</table>