<div class="btns">
	<%= link_to fa('eye', 'View Filter'), {context: nil, controller: o.type, action: :index, 'filter[saved_filter_id]' => o.id, 'filter_op' => 'load'} %>
</div>
<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Type', o.type %>
	<%= dl 'Name', o.name %>
</div>
<div class="view">
	<%= dl 'User', o.user.try(:username) %>
	<%= dl 'Created At', o.created_at.dt %>
</div>