<style>
	th { width: 140px; }
</style>

<tr>
   <th style="vertical-align: center;">Description<span class="req">*</span></th>
   <td><%= select :item_dec, "", Inventory.where("nsn_in_inventory is null").map(&:item_dec).uniq, {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
</tr>


<tr>
   <th style="vertical-align: center;">Serial Number<span class="req">*</span></th>
   <td><%= select :serial_number, "", "", {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
</tr>

<%= f.tr_text_field :item_dec, label: "Current Status" %>
<%= f.tr_text_field :item_dec, label: "Assigned to" %>

<tr>
   <th style="vertical-align: center;">Change Status to:<span class="req">*</span></th>
   <td><%= select :serial_number, "", "", {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
</tr>

<%= f.tr_text_field :item_dec, label: "Incident Report#" %>
<%= f.tr_text_field :item_dec, label: "Incident Report Date" %>

<%= f.tr_text_area :notes, label: 'Notes' %>
<%= f.tr_text_field :item_dec, label: "Item Description" %>
