<%= partial 'tr_others/fields_common', f: f, o: o %>
<tr>
	<th>Inspections</th>
	<td class="subform">
		<table>
			<tr>
				<th>Preop.</th>
				<th>Annual</th>
				<th>S/U</th>
				<th>Reinsp.</th>
				<th>Partial</th>
				<th>2nd Reinsp.</th>
				<th>2nd SU</th>
				<th>Last Annual</th>
			</tr>
			<tr>
				<td><%= f.text_field :preop_insp, class: 'date', value: o.preop_insp.d4 %></td>
				<td><%= f.text_field :annual_insp, class: 'date', value: o.annual_insp.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :s_u %></td>
				<td><%= f.text_field :reinspection, class: 'date', value: o.reinspection.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :partial_s_u %></td>
				<td><%= f.text_field :reinspection_2nd, class: 'date', value: o.reinspection_2nd.d4 %></td>
				<td><%= partial 'tr_others/field_s_u', o: o, f: f, field: :reinspection_2nd_s_u %></td>
				<td><%= f.text_field :last_annual_insp, class: 'date', value: o.last_annual_insp.d4 %></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Complaint</th>
	<td class="subform">
		<table>
			<tr>
				<th>Complaint Date</th>
				<th>Abate Date</th>
			</tr>
			<tr>
				<td><%= f.text_field :complaint_date, class: 'date', value: o.complaint_date.d4 %></td>
				<td><%= f.text_field :abate_date, class: 'date', value: o.abate_date.d4 %></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>Fee/Payment</th>
	<td class="subform">
		<table>
			<tr>
				<th>No. Units</th>
				<th>Fee Amount</th>
				<th>Paid Amount</th>
				<th>Date Paid</th>
			</tr>
			<tr>
				<td><%= f.text_field :num_units, class: 'n0', style: 'width: 100px;' %></td>
				<td><%= f.text_field :total_fee, class: 'n2', style: 'width: 100px;' %></td>
				<td><%= f.text_field :fee_paid, class: 'n2', style: 'width: 100px;' %></td>
				<td><%= f.text_field :date_paid, class: 'date', value: o.date_paid.d4 %></td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_area :comments, class: 'r6', label: 'Comments' %>
<%= f.tr_text_area :comments, label: 'Comments' %>
