<style>
	#adv-filter-fields > tr:first-child .adv-bool { display: none; }
</style>
<tr>
	<th>Advanced</th>
	<td class="subform">
		<table id="adv-filter">
			<tbody id="adv-filter-fields">
				<% @filter.adv.each_with_index { |a, i| %>
					<%= partial 'adv_field', a: a, i: i %>
				<% } %>
			</tbody>
			<tbody>
				<tr>
					<td class="inp-row">
						<%= select_tag 'adv-filter-add', options_for_select([['Add Field...', nil]] + @model.columns.map(&:name)) %>
						<%= hidden_field_tag 'filter_op', '' %>
						<%= hidden_field_tag 'filter_name', '' %>
						<%= f.select :saved_filter_id, SavedFilter.where('type = ?', params.controller).order('name').map { |s| [s.name, s.id] }, include_blank: 'Load Filter...' %>
						<% if !@filter.saved_filter_id.blank? %>
							<a href="#" id="filter-reload" title="Reload Saved Filter"><i class="fa fa-fw fa-refresh"></i></a>
							<a href="#" id="filter-edit" title="Update Saved Filter"><i class="fa fa-fw fa-pencil-square"></i></a>
							<a href="#" id="filter-delete" title="Delete Saved Filter" class="red"><i class="fa fa-fw fa-minus-square"></i></a>
						<% end %>
						<a href="#" id="filter-new" title="New Saved Filter" class="green"><i class="fa fa-fw fa-plus-square"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<script>
	$('#filter_saved_filter_id').change(function(e) {
		if($(this).val()) {
			$('#filter_op').val('load');
		}
		$('#filter-form').submit();
	});
	$('#filter-reload').click(function(e) {
		e.preventDefault();
		$('#filter_op').val('load');
		$('#filter-form').submit();
	});
	$('#filter-new').click(function(e) {
		e.preventDefault();
		var name = null;
		if(name = prompt('Enter a name to create a new saved filter/sort.')) {
			$('#filter_op').val('new');
			$('#filter_name').val(name);
			$('#filter-form').submit();
		}
	});
	$('#filter-edit').click(function(e) {
		e.preventDefault();
		var name = null;
		if(name = prompt('Enter a name to create a new saved filter/sort.', $('#filter_saved_filter_id option:selected').text())) {
			$('#filter_op').val('edit');
			$('#filter_name').val(name);
			$('#filter-form').submit();
		}
	});
	$('#filter-delete').click(function(e) {
		e.preventDefault();
		if(confirm('Are you sure you want to delete the saved filter/sort?')) {
			$('#filter_op').val('delete');
			$('#filter-form').submit();
		}
	});

	var adv_i = <%= @filter.adv.length %>;
	var adv_field = <%= partial('adv_field', a: {}, i: '__ADV__').to_json.html_safe %>;
	$('#adv-filter-add').change(function(e) {
		e.preventDefault();
		var val = $(this).val();
		this.selectedIndex = 0;
		if(val) {
			var row = $(adv_field.replace(/__ADV__/g, adv_i++));
			$('#adv-filter-fields').append(row);
			var field = row.find('select[name$="[name]"]');
			field.val(val).change();
			$('#adv-filter-fields').sortable('refresh');
			row.find('td > div').hide().slideDown(100, function() {
				row.find('select[name$="[op]"]').focus();
			});
		}
	});
	$('#adv-filter').on('click', '.adv-del', function(e) {
		e.preventDefault();
		var tr = $(this).closest('tr');
		tr.find('td > div').slideUp(100, function() { tr.remove(); });
	});
	var set_indent = function(e) {
		e.preventDefault();
		var td = $(this).closest('td');
		var indent = td.find('input[name$="[indent]"]');
		var val = Math.max(int(indent.val()) + e.data, 0);
		indent.val(val);
		td.animate({'padding-left': (val * 20) + 'px'}, 100);
	}	
	$('#adv-filter').on('click', '.adv-indent', 1, set_indent);	
	$('#adv-filter').on('click', '.adv-outdent', -1, set_indent);
	$('#adv-filter-fields').sortable({handle: '.move'});
	/*var toggle_ops = function(row) {
		var type = row.find('select[name$="[field]"] option:selected').data('type');
		var str = (type == 'string' || type == 'text');
		var select = row.find('select[name$="[op]"]');
		var select_str = select.find('option:selected').data('type') == 'string';
		select.find('option[data-type="string"]').attr('hidden', !str).attr('disabled', !str);
		if(!str && select_str) {
			select[0].selectedIndex = 0;
		}
	}*/
	/*$('#adv-filter').on('change', 'select[name$="[field]"]', function(e) {
		toggle_ops($(this).closest('tr'));
	});*/
</script>