<% name = 'date_presets' if local_assigns[:name].nil? %>
<% id = sanitized_id name %>
<%= select_tag name, options_for_select([['Select Preset&hellip;'.html_safe, nil]] + DateRangeOptions.options_for_select(local_assigns[:range]), local_assigns[:value]), style: 'width: 130px;' %><i></i>
<a href="#" id="<%= id %>-prev"><i class="fa fa-chevron-circle-left"></i></a>&nbsp;<a href="#" id="<%= id %>-next"><i class="fa fa-chevron-circle-right"></i></a>
<script>
	(function($) {
		var name = '<%= id %>';
		var prev = $('#' + name + '-prev');
		var next = $('#' + name + '-next');
		var date_presets_select = $('#' + name);
		var d1 = date_presets_select.closest('form').find('input[name$="<%= local_assigns[:from_date] || 'from_date' %>]"]');
		var d2 = date_presets_select.closest('form').find('input[name$="<%= local_assigns[:to_date] || 'to_date' %>]"]');
		var reset_preset = function() {
			date_presets_select[0].selectedIndex = 0;
		}
		d1.change(function(e) {
			if(!d2.val()) {
				d2.val(d1.val());
			}
			reset_preset();
		});
		d2.change(function(e) {
			reset_preset();
		});
		var f = function(d) {
			return d.toString('M/d/yy');
		}
		date_presets_select.change(function(e) {
			var v = date_presets_select.find('option:selected');
			var v1 = v.data('d1');
			if(!v1) {
				return;
			}
			var v2 = v.data('d2') || v1;
			d1.val(v1).effect('highlight');
			d2.val(v2).effect('highlight');
			e.preventDefault();
		});
		var inc_range = function(inc) {
			reset_preset();
			var v1 = Date.parse(d1.val());
			var v2 = Date.parse(d2.val());
			if(v1 && v2) {
				// Year range
				if(v1.getDate() == 1 && v1.getMonth() == 0 && v2.getDate() == 31 && v2.getMonth() == 11) {
					var diff = (v2.getFullYear() - v1.getFullYear() + 1) * inc;
					v1 = new Date(v1.getFullYear() + diff, 0, 1);
					v2 = new Date(v2.getFullYear() + diff, 11, 31);
				}
				// Month range
				else if(v1.getDate() == 1 && new Date(v2.getFullYear(), v2.getMonth() + 1, 0).getTime() == v2.getTime()) {
					var diff = ((v2.getFullYear() - v1.getFullYear()) * 12 + (v2.getMonth() - v1.getMonth()) + 1) * inc;
					v1 = new Date(v1.getFullYear(), v1.getMonth() + diff, 1);
					v2 = new Date(v2.getFullYear(), v2.getMonth() + 1 + diff, 0);
				}
				// Day range (works for weeks)
				else {
					var diff = ((v2 - v1) + 86400000) * inc;
					v1 = new Date(v1.getTime() + diff);
					v2 = new Date(v2.getTime() + diff);
				}
			}
			else if(v1) {
				v1 = new Date(v1.getFullYear(), v1.getMonth(), v1.getDate() + inc);
			}
			else if(v2) {
				v2 = new Date(v2.getFullYear(), v2.getMonth(), v2.getDate() + inc);
			}
			if(v1) {
				d1.val(v1.toString('MM/dd/yyyy')).effect('highlight', 20);
			}
			if(v2) {
				d2.val(v2.toString('MM/dd/yyyy')).effect('highlight', 20);
			}
		}
		prev.click(function(e) {
			e.preventDefault();
			inc_range(-1);
		});
		next.click(function(e) {
			e.preventDefault();
			inc_range(1);
		});
	})(jQuery);
</script>