<% if d.temporary? %>
	<%= partial 'document_temp', d: d %>
<% else %>
	<tr class="<%= cycle 'odd', 'even', name: 'documents' %>" id="o-<%= d.id %>" data-id="<%= d.id %>">
		<td class="nobr"><%= check_box_tag 'list[]', d.id, false, class: 'list_select', id: nil %> <%= d.id %></td>
		<td>
			<% if @print %>
				<%= d.name %>
			<% else %>
				<%= link_to d.name, {context: d.obj_type.underscore, context_id: d.obj_id, controller: :documents, action: :download, id: d.id}, class: 'document-download', target: '_blank' %>
				<% if !d.body.nil? %>
					<%= link_to 'to Word', {context: d.obj_type.underscore, context_id: d.obj_id, controller: :documents, action: :word, id: d.id}, class: 'tr-hover dim', target: '_blank' %>
					<%= link_to 'as HTML', {context: d.obj_type.underscore, context_id: d.obj_id, controller: :documents, action: :preview, id: d.id}, class: 'tr-hover dim', target: '_blank' %>
				<% end %>
				<% if d.can_edit? @current_user %>
					<div class="right">
						<%= link_to 'edit', {context: d.obj_type.underscore, context_id: d.obj_id, controller: :documents, action: :edit, id: d.id}, class: 'tr-hover dim' %>
						<a href="#" class="document-edit tr-hover dim">rename</a>
						<a href="#" class="document-delete tr-hover dim">delete</a>
					</div>
				<% end %>
			<% end %>
		</td>
		<td class="nobr"><%= d.created_at.dt %></td>
		<td class="nobr"><%= d.user.try(:username) %>
		
	</tr>
<% end %>