<% if @filter %>
	<%= form_for(:filter, html: {class: 'filter', id: 'filter-form'}, builder: TableFormBuilder) { |f| %>
		<table class="form">
			<%= partial 'filter_search_sort', f: f %>
			
			<tr>
				<th></th>
				<td class="btns">
					<%= partial 'filter_buttons', f: f %>
					<%= hidden_field_tag 'list_ids' %>
				</td>
			</tr>
		</table>
		<%= partial 'filter_gutter' %>
	<% } %>
<% end %>