<div id="filter">
<% if !filter[:saved_filter_id].blank? %>
	<% sf = SavedFilter.find_by(id: filter[:saved_filter_id]) %>
	<% if sf %>
		<div style="width: 100%;"><b>Filter Name: </b> <%= sf.name %></div>
	<% end %>
<% end %>
<% if !filter[:search].blank? %>
	<div><b>Search:</b> <%= filter[:search] %></div>
<% end %>
<%
sorts = @sorts.is_a?(Hash) ? @sorts.values.sum : @sorts
s1 = sorts.rassoc(filter[:sort1])
s1 &&= s1[0] + ' ' + (filter[:dir1] == 'desc' ? 'Desc' : 'Asc')
s2 = sorts.rassoc(filter[:sort2])
s2 &&= s2[0] + ' ' + (filter[:dir2] == 'desc' ? 'Desc' : 'Asc')
%>
<% if s1 || s2 %>
	<div><b>Sort:</b> <%= [s1, s2].compact * ', ' %></div>
<% end %>
<%
fd = filter[:from_date]
fd &&= "From #{fd.d}"
td = filter[:to_date]
td &&= "To #{td.d}"
dt = @date_types.rassoc(filter[:date_type])
dt &&= dt[0]
%>
<% if dt && (fd || td) %>
	<div><b><%= dt %>:</b> <%= [fd, td].compact * ', ' %></div>
<% end %>
<%
nmin = filter[:no_min]
nmin = nmin.blank? ? nil : "Min #{nmin}"
nmax = filter[:no_max]
nmax = nmax.blank? ? nil : "Max #{nmax}"
nt = @no_types.rassoc(filter[:no_type])
nt &&= nt[0]
%>
<% if nt && (nmin || nmax) %>
	<div><b><%= nt %>:</b> <%= [nmin, nmax].compact * ', ' %></div>
<% end %>
<%= yield %>
<% 
cond = ''
if !@filter.adv.blank?
	indent = 0
	@filter.adv.each_with_index { |field, i|
		f = field.name
		o = field.op
		s = field.search
		c = if o == 'null'
			"#{f} is null"
		elsif o == 'like'
			"#{f} contains \"#{s}\""
		elsif o == 'left'
			DB.escape "#{f} starts with \"#{s}\""
		elsif o == 'right'
			DB.escape "#{f} ends with \"#{s}\""
		elsif o.in?(%w{> < <= >=})
			DB.escape "#{f} #{o} \"#{s}\""
		else
			DB.escape "#{f} = \"#{s}\""
		end
		c = (field.not ? 'not' : '') + "(#{c})"
		b = i == 0 ? '' : field.bool == 'or' ? ' or ' : ' and '
		indent_diff = field.indent.to_i - indent
		indent = field.indent.to_i
		if indent_diff > 0
			c = b + ('(' * indent_diff) + c
		elsif indent_diff < 0
			c = (')' * -indent_diff) + b + c
		else
			c = b + c
		end
		cond += c
	}
	if indent > 0
		cond += ')' * indent
	end
end
%>
<% if !cond.blank? %>
	<div style="width: 100%;"><b>Advanced:</b> <%= cond %></div>
<% end %>
</div>