<% if @filter %>
	<%= form_for(:filter, html: {class: 'filter', id: 'filter-form'}, builder: TableFormBuilder) { |f| %>
		<table class="form">
			<% if @date_types %>
				<%= partial 'filter_dates', f: f, o: @filter, date_preset_name: 'filter[date_preset]', date_preset_value: @filter.date_preset %>
			<%else%>
				<%= partial 'filter_search_sort', f: f %>
			<% end %>
			<tr>
				<th></th>
				<td class="btns">
					<%= partial 'filter_buttons', f: f %>
					<%= hidden_field_tag 'list_ids' %>
				</td>
			</tr>
		</table>
		<%= partial 'filter_gutter' %>
	<% } %>
<% end %>