<% if @filter %>
	<%= form_for(:filter, html: {class: 'filter', id: 'filter-form'}, builder: TableFormBuilder) { |f| %>
		<table class="form">
			<% if("reportes".eql?(params[:controller]) && "agent_report".eql?(params[:context])) %>
				<tr>
				   <th style="vertical-align: center;">Search For Assign To<span class="req">*</span></th>
				   <td><%= f.select :agent_rec, options_from_collection_for_select(Agent.all, :id, "full_name"), {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
				</tr>
			<% elsif("reportes".eql?(params[:controller]) && "Inv_assign_report".eql?(params[:context])) %>
				<tr>
				   <th style="vertical-align: center;">Search For ItemGroup<span class="req">*</span></th>
				   <td><%= f.select :item_dec, Inventory.all.map(&:item_dec).uniq, {prompt: true}, :style => 'width: 100%;border-radius: 5px;' %></td>
				</tr>
			<% elsif("reportes".eql?(params[:controller]) && "Inv_list_report".eql?(params[:context])) %>
			<% else %>
				
					<% if @date_types.present? && params[:controller] == "sap_exports" %>
						<%= partial 'filter_dates', f: f, o: @filter, date_preset_name: 'filter[date_preset]', date_preset_value: @filter.date_preset %>
					<%else%>
						<%= partial 'filter_search_sort', f: f %>
					<% end %>
					<tr>
						<th></th>
						<td class="btns">
							<%= partial 'filter_buttons', f: f %>
							<%= hidden_field_tag 'list_ids' %>
						</td>
					</tr>
			<% end %>
		</table>
	<% } %>
	
<% end %>
<script type="text/javascript">
	$(document).ready(function() {
		$("#filter_agent_rec").on("change", function() {
	 		var item_dec = $(this).val();
			if(item_dec != "") {
			 	$.ajax({
				  	url: '<%= url_for :action => :get_items_from_agent_rec %>',
				  	type: 'GET',
				  	data: {"data":item_dec},
				  	success: function(result) {
				  		$("table.data").hide();
				        $('#data').html(result);
				  	}
				})
			}
		})

		$("#filter_item_dec").on("change", function() {
	 		var item_dec = $(this).val();
			if(item_dec != "") {
			 	$.ajax({
				  	url: '<%= url_for :action => :get_items_from_item_dec %>',
				  	type: 'GET',
				  	data: {"data":item_dec},
				  	success: function(result) {
				  		$("table.data").hide();
				        $('#data').html(result);
				  	}
				})
			}
		})
	})
</script>