<%= partial 'errors', :errors => o.errors.full_messages %>
<%= table_form_for(:obj, html: {id: 'obj_form'}) { |f| %>
	<%= partial 'fields', f: f, o: o %>	
	<%= partial 'document_field', f: f, o: o %>
	<tr>
		<th></th>
		<td class="btns">
			<button type="submit"><i class="fa fa-save"></i> Save Changes</button>
			<%if params.controller == "issue_serial_number_items"%>
				<%= link_to "Not In Inventory", "javascript:void(0)", id: "not_in_inventory", class: "btn btn-primary" %>
				<%= link_to "Cancel", "javascript:void(0)", id: "cancel_issue", style:"float:right", class: "btn btn-primary" %>
			<%end%>
		</td>
	</tr>	
<% } %>
