<% 
	c = params[:controller]
	ct = params[:context]
	is_ve = c.start_with?('ve_') && ct.blank? || ct.to_s.start_with?('ve_') || c == 'ical'
	is_fd = c.start_with?('fd_') && ct.blank? || ct.to_s.start_with?('fd_')
	is_pl = c.start_with?('pl_') && ct.blank? || ct.to_s.start_with?('pl_')
	is_tf = c.start_with?('tf_') && ct.blank? || ct.to_s.start_with?('tf_')
	is_tr = c.start_with?('tr_') && ct.blank? || ct.to_s.start_with?('tr_')
	is_ny = c.start_with?('ny_') && ct.blank? || ct.to_s.start_with?('ny_') 

	is_ny = c.start_with?('ny_') && ct.blank? || ct.to_s.start_with?('ny_') 
	is_ny = c.start_with?('ny_') && ct.blank? || ct.to_s.start_with?('ny_') 
	is_ny = c.start_with?('ny_') && ct.blank? || ct.to_s.start_with?('ny_') 
	is_user = c.start_with?('users') && ct.blank? || ct.to_s.start_with?('users') 
	
	is_qb = (c.start_with?('qb_') || c.to_s.in?(['sap_exports', 'payeezy_posts'])) && ct.blank? || (ct.to_s.start_with?('qb_') || ct.to_s.in?(['sap_export', 'payeezy_post']))
	other = %w{documents doc_templates doc_bulks saved_filters db_changes doc_deliveries}
	is_other = ct ? ct.pluralize.in?(other) : c.in?(other)
	is_permit = is_fd || is_pl || is_tf || is_tr || is_ny
%>
<% if is_permit %>
	<div class="bar bar-red">PERMITS APPLICATION IS NOT LIVE - THIS IS A PREVIEW</div>
<% end %>
<% if params.action != "print" %>
<div id="tabs" class="tabs">
	<%= tab 'home', 'Home', {controller: :home, context: nil}, {}, class: ([params[:context], session[:context]].include?('home') ? 'active' : '') %>

	<%= tab 'money', "Sales", {controller: :qb_transactions, context: "sales", action: :index, process: ""}, {}, {class: ([params[:context], session[:context]].include?("sales") ? 'active' : '')} %>
	
	<%= top_tab 'usd', 'Shots', Shot %>

	<%= tab 'money', 'Payments History', {context: "payment_history", controller: :qb_transactions, action: :index}, {}, {class: ((params[:context] =="payment_history" || "payeezy_posts".eql?(c)) ? 'active' : '')} %>
	
	<%= tab 'cloud-upload', 'Reports', {controller: :sap_exports, context: "reports", action: :index}, {}, class: ([params[:context], session[:context]].include?('reports') ? 'active' : '') %>
	
	<%= tab 'cloud-upload', 'Sap Exports', {:controller => :sap_exports, context: "sap_exports", action: :index}, {}, class: ([params[:context], session[:context]].include?('sap_exports') ? 'active' : '')%>
	
	<%= tab 'user', 'Users', {controller: :users, context: nil}, {}, class: ([params[:context], session[:context]].include?('user') ? 'active' : '') %>

	<div class="right">
		<%= tab 'user', @current_user.username, {controller: :account}, {action: :edit} %>
		<%= tab 'sign-out', 'Logout', db: nil, context: nil, controller: :account, action: :logout %>
	</div>		
<div class="clear"></div>
</div>
<%end%>