<% url = {context: context, controller: controller} %>
<div class="tabs" id="objs-tabs">
	<%= partial 'nav_pre' %>
	<%= tab 'list', 'List', url + {action: :index} %>
	<%= tab 'table', 'Grid', url + {action: :grid} %>
	<%= tab 'plus-circle', 'New', url + {action: :new} if model.can_create? @current_user, context_obj %>
	<% if obj && !obj.new_record? %>
		<%= tab 'gear', obj.label.truncate(20), url + {id: obj.id, action: :view}, {}, class: 'active' %>
	<% end %>
	<%= partial 'nav1', obj: obj, model: model, context: context, controller: controller, context_obj: context_obj %>
	<div class="clear"></div>
</div>