<% url = {context: context, controller: controller} %>
<% if obj && !obj.new_record? %>
	<% url.id = obj.id %>
	<div class="tabs" id="obj-tabs">
		<%= tab 'search', 'View', url + {action: :view} %>
		<%= tab 'edit', 'Edit', url + {action: :edit} if obj.can_edit? @current_user %>
		<%= tab 'clone', 'Clone', url + {action: :copy} if obj.can_clone? @current_user, context_obj %>
		<%= tab 'trash', 'Delete', url + {action: :delete} if obj.can_destroy? @current_user %>
		<%= partial 'nav2', obj: obj, model: model, context: context, controller: controller, context_obj: context_obj %>
		<% if obj.respond_to?(:documents) && !params.popup %>
			<%= tab 'file-text-o', 'Documents', {controller: :documents, context: controller.singularize, context_id: obj.id}, action: :index %>
		<% end %>
		<% if obj.respond_to?(:db_changes) && !params.popup %>
			<%= tab 'clock-o', 'Log', {controller: :db_changes, context: controller.singularize, context_id: obj.id}, action: :index %>
		<% end %>
		<div class="clear"></div>
	</div>
<% end %>