<% 
	c = params[:controller]
	ct = params[:context]
	is_ve = c.start_with?('ve_') && ct.blank? || ct.to_s.start_with?('ve_') || c == 'ical'
	is_fd = c.start_with?('fd_') && ct.blank? || ct.to_s.start_with?('fd_')
	is_pl = c.start_with?('pl_') && ct.blank? || ct.to_s.start_with?('pl_')
	is_tf = c.start_with?('tf_') && ct.blank? || ct.to_s.start_with?('tf_')
	is_tr = c.start_with?('tr_') && ct.blank? || ct.to_s.start_with?('tr_')
	is_ny = c.start_with?('ny_') && ct.blank? || ct.to_s.start_with?('ny_') 

	is_ny = c.start_with?('ny_') && ct.blank? || ct.to_s.start_with?('ny_') 
	is_ny = c.start_with?('ny_') && ct.blank? || ct.to_s.start_with?('ny_') 
	is_ny = c.start_with?('ny_') && ct.blank? || ct.to_s.start_with?('ny_') 
	
	is_qb = (c.start_with?('qb_') || c.to_s.in?(['sap_exports', 'payeezy_posts'])) && ct.blank? || (ct.to_s.start_with?('qb_') || ct.to_s.in?(['sap_export', 'payeezy_post']))
	other = %w{documents doc_templates doc_bulks saved_filters db_changes doc_deliveries}
	is_other = ct ? ct.pluralize.in?(other) : c.in?(other)
	is_permit = is_fd || is_pl || is_tf || is_tr || is_ny
%>
<% if is_permit %>
	<div class="bar bar-red">PERMITS APPLICATION IS NOT LIVE - THIS IS A PREVIEW</div>
<% end %>
<div id="tabs" class="tabs">

	<%= tab 'home', 'Home', {controller: :home, context: nil}, {}, class: (params[:context] == 'home' ? 'active' : '') %>
	<%= tab 'money', "Sales", {controller: :qb_transactions, context: nil, action: :index}, {}, {class: (params[:context] =="qb_transactions" ? 'active' : '')} %>
	<%#= top_tab 'money', 'Inv/Sale/Pay', QbTransaction %>
	<%= tab 'dollar', 'Prices', {controller: :qb_item_prices, context: nil}, action: :index %>
	<%= tab 'payments', 'Payments', {controller: :qb_item_prices, context: nil}, action: :index %>
	<%= tab 'sap_exports', 'Sap Exports', {controller: :qb_item_prices, context: nil}, action: :index %>
	<%= tab 'user', 'Users', {controller: :users, context: nil}, {}, class: (params[:context] == 'user' ? 'active' : '') %>

	<div class="right">
		<%= tab 'user', @current_user.username, {controller: :account}, {action: :edit} %>
		<%= tab 'sign-out', 'Logout', db: nil, context: nil, controller: :account, action: :logout %>
	</div>		
<div class="clear"></div>
</div>

<% if is_ve %>
	<div class="tabs">
		<%= top_tab 'truck', 'Vehicles', VeVehicle %>
		<%= top_tab 'road', 'Mileage', VeMileage %>
		<%= top_tab 'calendar', 'Reservations', VeReservation, {}, {action: :availability} %>
		<%= top_tab 'calendar-o', 'Reservation Days', VeEvent %>
		<%= tab 'calendar', 'iCalendar', {controller: :ical, context: nil}, {} %>
		<div class="clear"></div>
	</div>
<% end %>

<% if is_permit %>
	<div class="tabs">
		<%= tab 'cutlery', 'Food', {controller: :fd_establishments, context: nil, action: :index}, {}, class: (is_fd ? 'active' : '') %>
		<%= tab 'birthday-cake', 'Temp Food', {controller: :tf_facilities, context: nil, action: :index}, {}, class: (is_tf ? 'active' : '') %>
		<%= tab 'child', 'Temp Residence', {controller: :tr_tannings, context: nil, action: :index}, {}, class: (is_tr ? 'active' : '') %>
		<%= tab 'life-ring', 'Pool', {controller: :pl_pools, context: nil, action: :index}, {}, class: (is_pl ? 'active' : '') %>
		<div class="clear"></div>
	</div>
<% end %>

<% if is_fd %>
	<div class="tabs">

		<%= tab 'building', 'Establishments', {controller: :fd_establishments, context: nil}, {}, class: (ct == 'fd_establishment' ? 'active' : '') %>
		<%= tab 'circle-o', 'Churches', {controller: :fd_churches, context: nil}, {}, class: (ct == 'fd_church' ? 'active' : '') %>
		<%= tab 'check-square-o', 'Activity', {controller: :fd_activities, context: nil}, {}, class: (ct == 'fd_activity' ? 'active' : '') %>
		<%= tab 'map-signs', 'Towns', {controller: :fd_towns, context: nil}, {}, class: (ct == 'fd_town' ? 'active' : '') %>
		<%= tab 'dollar', 'Fee Schedule', {controller: :fd_fee_schedules, context: nil}, {}, class: (ct == 'fd_fee_schedule' ? 'active' : '') %>
		<%= tab 'tags', 'Inspection Codes', {controller: :fd_inspection_codes, context: nil}, {}, class: (ct == 'fd_inspection_code' ? 'active' : '') %>
		<%= tab 'thumbs-up', 'Waivers', {controller: :fd_waivers, context: nil}, {}, class: (ct == 'fd_waiver' ? 'active' : '') %>
		<%= tab 'clipboard', 'Plan Reviews', {controller: :fd_plan_reviews, context: nil}, {}, class: (ct == 'fd_plan_review' ? 'active' : '') %>
		
		<% if false %>
		<%= tab '', 'Activity', {controller: :fd_activities, context: nil}, {}, class: (ct == 'fd_activity' ? 'active' : ''), title: 'Food Activity' %>
		<%= tab '', 'Carts', {controller: :fd_carts, context: nil}, {}, class: (ct == 'fd_cart' ? 'active' : ''), title: 'Food Carts' %>		
		<%= tab '', 'Fee Sched', {controller: :fd_fee_schedules, context: nil}, {}, class: (ct == 'fd_fee_schedule' ? 'active' : ''), title: 'Food Fee Schedule' %>
		<%= tab '', 'Insp Codes', {controller: :fd_inspection_codes, context: nil}, {}, class: (ct == 'fd_inspection_code' ? 'active' : ''), title: 'Food Inspection Codes' %>
		<%= tab '', 'Plans', {controller: :fd_plan_reviews, context: nil}, {}, class: (ct == 'fd_plan_review' ? 'active' : ''), title: 'Food Plan Reviews' %>
		<%= tab '', 'Train', {controller: :fd_trainings, context: nil}, {}, class: (ct == 'fd_training' ? 'active' : ''), title: 'Food Worker Training' %>
		<%= tab '', 'Viols', {controller: :fd_violations, context: nil}, {}, class: (ct == 'fd_violation' ? 'active' : ''), title: 'Food Violations' %>
		<%= tab '', 'Cmplnts', {controller: :fd_complaints, context: nil}, {}, class: (ct == 'fd_complaint' ? 'active' : ''), title: 'Food Complaints' %>
		<% end %>
		<div class="clear"></div>
	</div>
<% end %>

<% if is_tf %>
	<div class="tabs">
		<%= tab 'truck', 'Facilities', {controller: :tf_facilities, context: nil}, {}, class: (ct == 'tf_facility' ? 'active' : '') %>
		<%= tab 'exclamation-triangle', 'Violation Types', {controller: :tf_violation_types, context: nil}, {}, class: (ct == 'tf_violation_type' ? 'active' : '') %>
		<%= tab 'thumbs-down', 'Violations', {controller: :tf_violations, context: nil}, {}, class: (ct == 'tf_violation' ? 'active' : '') %>
		<div class="clear"></div>
	</div>
<% end %>

<% if is_tr %>
	<div class="tabs">
		<%= tab 'tree', 'Child Camps', {controller: :tr_child_camps, context: nil}, {}, class: (ct == 'tr_child_camp' ? 'active' : '') %>
		<%= tab 'child', 'Daycare', {controller: :tr_daycares, context: nil}, {}, class: (ct == 'tr_daycare' ? 'active' : '') %>	
		<%= tab 'sun-o', 'Tanning', {controller: :tr_tannings, context: nil}, {}, class: (ct == 'tr_tanning' ? 'active' : '') %>
		<%= tab 'building', 'Other', {controller: :tr_others, context: nil}, {}, class: (ct == 'tr_other' ? 'active' : '') %>
		<%= tab 'check-square-o', 'Activity', {controller: :tr_activities, context: nil}, {}, class: (ct == 'tr_activity' ? 'active' : '') %>
		<%= tab 'dollar', 'Fee Schedule', {controller: :tr_fee_schedules, context: nil}, {}, class: (ct == 'tr_fee_schedule' ? 'active' : '') %>
		<div class="clear"></div>
	</div>
<% end %>

<% if is_pl %>
	<div class="tabs">
		<%= tab 'tint', 'Pools', {controller: :pl_pools, context: nil}, {}, class: (ct == 'pl_pool' ? 'active' : '') %>
		<%= tab 'user-circle-o', 'Supervision Levels', {controller: :pl_supervision_levels, context: nil}, {}, class: (ct == 'pl_supervision_level' ? 'active' : '') %>	
		<%= tab 'dollar', 'Fee Schedule', {controller: :pl_fee_schedules, context: nil}, {}, class: (ct == 'pl_fee_schedule' ? 'active' : '') %>
		<div class="clear"></div>
	</div>
<% end %>

<% if is_qb %>
	<div class="tabs">
		<%= tab 'list', 'List', {context: nil, controller: :qb_transactions, action: :index} %>
		<%= tab 'plus-circle', 'New', {context: nil, controller: :qb_transactions, action: :new} %>
		<div class="clear"></div>
	</div>
<% end %>

<% if is_other %>
	<div class="tabs">
		<%= top_tab 'file-text-o', 'Documents', Document %>
		<%= top_tab 'files-o', 'Bulk Documents', DocBulk %>
		<%= top_tab 'paper-plane', 'Delivery', DocDelivery %>
		<%= top_tab 'file-code-o', 'Document Templates', DocTemplate %>
		<%= top_tab 'clock-o', 'Log', DbChange %>
		<%= top_tab 'filter', 'Filters', SavedFilter %>
		<div class="clear"></div>
	</div>
<% end %>