<%= partial 'filter' %>
<% pages = partial 'pages', objs: @objs, objs_unpaginated: @objs_unpaginated %>
<%= pages %>
<% if @objs.empty? %>
	<%= partial 'empty' %>
<% elsif (params[:context] == "payment_history" || session[:context] == "payment_history") && "sales".eql?(params[:controller]) %>
	<%= partial 'list2', objs: @objs %>
<%else%>
	<div class="btns right" style="margin-top: 4px;">
		<%= tab 'print', 'Print PDF', {action: :index, print: true}, {}, target: '_blank' %>
	</div>
	<%= partial 'list', objs: @objs %>
<% end %>
<%= pages %>
<div id="data" class="cleardata"></div>