<h1 id="print-title"><%= @obj.label %></h1>
<% if @print_button != false %>
	<div class="btns right" style="margin-top: 4px;">
		<%= tab 'print', 'Print PDF', {action: :print, id: @obj.id}, {}, target: '_blank' %>
	</div>
<% end %>
<%= partial 'view', :o => @obj %>
<%= partial 'groups', :o => @obj %>
<%= partial 'documents', :o => @obj %>
<% if params.popup %>
	<%= partial 'close_popup' %>
<% end %>