<tr>
	<th>Facility No. <span class="req">*</span></th>
	<td>
		<%= f.text_field :fac_no, style: 'width: 100px;' %>
		<label><%= f.check_box :active %> Active</label>
	</td>
</tr>
<%= f.tr_text_field :facility_name, label: 'Facility Name', req: true %>
<tr>
	<th>Facility Address</th>
	<td class="subform">
		<table>
			<tr>
				<th>Address</th>
				<th>City, State</th>
				<th>Zip</th>
				<% if o.has_attribute? :town %>
					<th>Town</th>
				<% end %>
			</tr>
			<tr>
				<td><%= f.text_field :facility_address, style: 'width: 250px;' %></td>
				<td><%= f.text_field :location, style: 'width: 180px;' %></td>
				<td><%= f.text_field :fac_zip, style: 'width: 60px;' %></td>
				<% if o.has_attribute? :town %>
					<td><%= f.text_field :town, style: 'width: 120px;' %></td>
					<script>
						$('#obj_town').autocomplete({
							minLength: 0, source: <%= raw @model.where('town != ""').order('town').pluck('distinct town').to_json %>,
						}).focus(function() { $(this).autocomplete('search', $(this).val()); });
					</script>
				<% end %>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_field :phone, label: 'Facility Phone' %>
<%= f.tr_text_field :operator_owner, label: 'Operator/Owner' %>
<tr>
	<th>Operator Address</th>
	<td class="subform">
		<table>
			<tr>
				<th>Address</th>
				<th>City</th>
				<th>Zip</th>
			<tr>
				<td><%= f.text_field :operator_addr, style: 'width: 250px;' %></td>
				<td><%= f.text_field :operator_city, style: 'width: 180px;' %></td>
				<td><%= f.text_field :operator_zip, style: 'width: 60px;' %></td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_field :operator_phone, label: 'Operator Phone' %>
<%= f.tr_text_field :contact, label: 'Contact' %>
<% if o.has_attribute? :ein_ss %>
	<%= f.tr_text_field :ein_ss, label: 'EIN/SS' %>
<% end %>
<% if o.has_attribute? :email1 %>
	<%= f.tr_text_field :email1, label: 'Email' %>
<% end %>
<% if o.has_attribute? :email2 %>
	<%= f.tr_text_field :email2, label: 'Email 2' %>
<% end %>
<% if o.has_attribute? :facility_type %>
	<%= f.tr_text_field :facility_type, label: 'Facility Type' %>
	<script>
		$('#obj_facility_type').autocomplete({
			minLength: 0, source: <%= @model.where('facility_type != ""').order('facility_type').pluck('distinct facility_type').to_json.html_safe %>,
		}).focus(function() { $(this).autocomplete('search', $(this).val()); });
	</script>
<% end %>
<tr>
	<th>Dates</th>
	<td class="subform">
		<table>
			<tr>
				<% if o.has_attribute? :permit_issue %>
					<th>Permit Issued</th>
				<% end %>
				<% if o.has_attribute? :permit_exp %>
					<th>Permit Expires</th>
				<% end %>
				<% if o.has_attribute? :permit_sent %>
					<th>Permit Sent</th>
				<% end %>
				<% if o.has_attribute? :appl_sent %>
					<th>Appl. Sent</th>
				<% end %>
				<% if o.has_attribute? :appl_recd %>
					<th>Appl. Recv'd</th>
				<% end %>
				<% if o.has_attribute? :activation_date %>
					<th>Activate</th>
				<% end %>
				<% if o.has_attribute? :deactivation_date %>
					<th>Deactivate</th>
				<% end %>
				<% if o.has_attribute? :open_date %>
					<th>Open</th>
				<% end %>
				<% if o.has_attribute? :close_date %>
					<th>Close</th>
				<% end %>
			</tr>
			<tr>
				<% if o.has_attribute? :permit_issue %>
					<td><%= f.text_field :permit_issue, class: 'date', value: o.permit_issue.d4 %></td>
				<% end %>
				<% if o.has_attribute? :permit_exp %>
					<td><%= f.text_field :permit_exp, class: 'date', value: o.permit_exp.d4 %></td>
				<% end %>
				<% if o.has_attribute? :permit_sent %>
					<td><%= f.text_field :permit_sent, class: 'date', value: o.permit_sent.d4 %></td>
				<% end %>
				
				<% if o.has_attribute? :appl_sent %>
					<td><%= f.text_field :appl_sent, class: 'date', value: o.appl_sent.d4 %></td>
				<% end %>
				<% if o.has_attribute? :appl_recd %>
					<td><%= f.text_field :appl_recd, class: 'date', value: o.appl_recd.d4 %></td>
				<% end %>
				
				<% if o.has_attribute? :activation_date %>
					<td><%= f.text_field :activation_date, class: 'date', value: o.activation_date.d4 %></td>
				<% end %>
				<% if o.has_attribute? :deactivation_date %>
					<td><%= f.text_field :deactivation_date, class: 'date', value: o.deactivation_date.d4 %></td>
				<% end %>
				<% if o.has_attribute? :open_date %>
					<th><%= f.text_field :open_date, class: 'date', value: o.open_date.d4 %></th>
				<% end %>
				<% if o.has_attribute? :close_date %>
					<th><%= f.text_field :close_date, class: 'date', value: o.close_date.d4 %></th>
				<% end %>
			</tr>
		</table>
	</td>
</tr>
<% if o.class.in?([TrDaycare, TrOther]) %>
	<tr>
		<th>Fee/Capacity</th>
		<td class="subform">
			<table>
				<tr>
					<th<% if o.has_attribute? :profit %> colspan="2"<% end %>>Capacity</th>
					<th>Fee Code</th>
					<th>Fee</th>
					<% if o.is_a? TrOther %>
						<th>Fee Paid</th>
						<th>Paid Date</th>
					<% end %>
				</tr>
				<tr>
					<td><%= f.text_field :capacity, class: 'n0', style: 'width: 100px;' %></td>
					<% if o.has_attribute? :profit %>
						<td><label style="width: 100px; display: block;"><%= f.check_box :profit %> For Profit</label></td>
					<% end %>
					<td><%= f.text_field :fee_code, style: 'width: 100px;' %></td>
					<td><%= f.text_field :fee, class: 'n2', style: 'width: 100px;' %></td>
					<% if o.is_a? TrOther %>
						<td><%= f.text_field :fee_paid, style: 'width: 100px;', class: 'n2' %></td>
						<td><%= f.text_field :date_paid, class: 'date', value: o.date_paid.d4 %></td>
					<% end %>
				</tr>
			</table>
		</td>
	</tr>
	<script>
		var fees = <%= TrFeeSchedule.where(o.is_a?(TrDaycare) && 'fee_code like "DCC%"').order('fee_code').map(&:attributes).to_json.html_safe %>;
		var facility_class = '<%= o.class.to_s %>';
		var calc_fee_code = function() {
			var capacity = $('#obj_capacity').val();
			if(capacity) {
				var ft = $('#obj_facility_type');
				var facility_type = facility_class == 'TrOther' ? $('#obj_facility_type').val() : ($('#obj_profit').prop('checked') ? 'DAY CARE' : 'DAY CARE NP');
				if(facility_type) {
					for(var i = 0; i < fees.length; i++) {
						var f = fees[i];
						if((f.max || f.min) && facility_type == f.facility_type && (!f.max || f.max >= capacity) && (!f.min || f.min <= capacity)) {
							$('#obj_fee_code').val(f.fee_code).effect('highlight');
							$('#obj_fee').val(n2_float(f.fee)).effect('highlight');
							return;
						}
					}
				}
			}
		}
		var select_fee = function(e, ui) {
			if(ui && ui.item) {
				var f = ui.item;
				$('#obj_fee_code').val(f.fee_code);
				$('#obj_fee').val(n2_float(f.fee));
			}
		}
		$('#obj_capacity, #obj_profit, #obj_facility_type').change(calc_fee_code);
		$('#obj_fee_code').autocomplete({
			source: $.map(fees, function(f) { 
				f.label = f.facility_type + ' - ' + f.fee_code + ' - ' + f.description + ' - $' + f.fee;
				f.value = f.fee_code;
				return f;
			}),
			minLength: 0,
			change: select_fee,
			focus: select_fee
		}).focus(function() { 
			$(this).autocomplete('search', $(this).val());
		})
	</script>
<% end %>
<% if o.has_attribute?(:wc_expiration_date) && o.has_attribute?(:disability_expiration_date)  %>
	<tr>
		<th>Insurance</th>
		<td class="subform">
			<table>
				<tr>
					<th>Wrk. Comp. Exp.</th>
					<th>Disa. Exp.</th>
				</tr>
				<tr>
					<td><%= f.text_field :wc_expiration_date, class: 'date', value: o.wc_expiration_date.d4 %></td>
					<td><%= f.text_field :disability_expiration_date, class: 'date', value: o.disability_expiration_date.d4 %></td>
				</tr>
			</table>
		</td>
	</tr>
<% end %>