<%= partial 'tr_others/fields_common', f: f, o: o %>
<tr>
	<th>Misc.</th>
	<td class="subform">
		<table>
			<tr>
				<th>In Operation</th>
				<th>Code</th>
				<th>Phone No.</th>
				<th>Cust. Acct. No.</th>
				<th colspan="2">Last Annual Insp.</th>
			</tr>
			<tr>
				<td><%= f.select :in_operation, ['YEAR ROUND', 'SEASONAL'], {include_blank: true}, style: 'width: 100px;' %></td>
				<td><%= f.text_field :code, style: 'width: 100px;' %></td>
				<td><%= f.text_field :phoneno, style: 'width: 100px;' %></td>
				<td><%= f.text_field :customer_acct_no, style: 'width: 100px;' %></td>
				<td><%= f.text_field :last_annual_insp, class: 'date', value: o.last_annual_insp.d4 %></td>
				<td><label><%= f.check_box :pool %> Has Pool</label></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<th>NYS Data</th>
	<td class="subform">
		<table>
			<tr>
				<th>Fac. Key</th>
				<th>Operation ID</th>
				<th>Category</th>
				<th colspan="2">Subcategory</th>
			</tr>
			<tr>
				<td><%= f.text_field :fac_key, style: 'width: 160px;' %></td>
				<td><%= f.text_field :operation_id, style: 'width: 160px;' %></td>
				<td><%= f.text_field :cat, style: 'width: 100px;' %></td>
				<td><%= f.text_field :subcat, style: 'width: 100px;' %></td>
				<td><label><%= f.check_box :primaryop %> Primary Operation</label></td>
			</tr>
		</table>
	</td>
</tr>
<%= f.tr_text_area :comments, class: 'r6', label: 'Comments' %>