<% if !@print %>
	<div class="btns">
		<% doc = o.transaction_document %>
		<% if doc %>
			<%= link_to fa('print', "Print #{o.type} PDF"), {action: :doc, id: o.id, controller: :sales}, target: '_blank' %>
		<% else %>
			<%= form_tag(action: :gendoc, id: o.id ) %><button><i class="fa fa-print"></i> Generate <%= o.type %> PDF</button></form>
		<% end %>
    <% if !o.voided && "admin".eql?(@current_user.level) %>
      <%= form_tag(controller: :sales, action: :void, id: o.id ) %><button><i class="fa fa-times"></i> Void <%= o.type %></button></form>
    <% end %>
		<% url = {context: nil, controller: :sales, action: :new, from_transaction: o.id} %>
		<% if o.invoice? %>
			<%= link_to fa('money', 'Pay Invoice'), url + {type: 'Payment'} %>
		<% end %>
		<% if o.payment? %>
			<%= link_to fa('money', 'Refund Payment'), url + {type: 'AR Refund'} %>
		<% end %>
	</div>
<% end %>
<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Division', lbl('qbdiv', o.division) %>
	<%= dl 'Type', lbl('qbttype', o.type) %>
	<%= dl 'Num', o.num %>
	<%= dl 'Amount', '$' + n2(o.amount) %>
	<%= dl 'Date', o.date.d %>
	<% if o.invoice? || o.sale? %>
		<%= dl 'Def. Rev.', o.def_revenue_date.d %>
	<% end %>
	<% if o.invoice? %>
		<% style = o.balance_past_due? ? ' style="color: #e00;"'.html_safe : '' %>
		<% b = o.balance.to_f %>
		<dl<%= style %>><dt>Balance</dt><dd><%= b != 0 ? '$' + n2(o.balance.to_f) : '' %></dd></dl>
		<dl<%= style %>><dt>Due Date</dt><dd><%= o.due_date.d %></dd></dl>
	<% end %>
	<% if o.voided %>
		<dl><dt>Void</dt><%= lbl 'qbttype', 'VOIDED' %></dl>
	<% end %>
	<%= dl 'Created By', o.created_by&.username %>
	<%= dl 'Created At', o.created_at.dt %>
</div>
<% if o.sale? || o.refund? || o.payment? || o.ar_refund? %>
	<div class="view">
		<%= dl "#{o.sale? || o.payment? ? 'Pay' : 'Refund'} Method", lbl('qbpmeth', o.pay_method) %>
		<% if o.payment? || o.ar_refund? %>
			<%= dl 'Split', o.split_amount.to_f != 0 ? '$' + n2(o.split_amount) : '' %>
		<% end %>
		<% if o.pay_check? %>
			<%= dl 'Check #', o.check_no %>
		<% elsif o.pay_credit? %>
			<%= dl 'Debit GL', o.debit_ledger %>
		<% elsif o.pay_cc? %>
			<% pz = o.payeezy_post %>
			<%= dl 'Payeezy Auth Num', pz ? link_to(pz.authorization_num, context: nil, controller: :payeezy_posts, action: :view, id: pz.id).html_safe : '' %>
			<%= dl 'Payeezy Receipt', pz ? link_to('<i class="fa fa-file-text-o">&nbsp;</i>Receipt'.html_safe, {context: nil, controller: :payeezy_posts, action: :receipt, id: pz.id}, target: '_blank').html_safe : '' %>
		<% end %>
		<% v = o.voided_payeezy_post %>
		<% if v %>
			<span style="color: #e00">
				<%= dl 'Void Auth Num', link_to(v.authorization_num, {context: nil, controller: :payeezy_posts, action: :view, id: v.id}, style: 'color: #e00;').html_safe %>
				<%= dl 'Void Receipt', link_to('<i class="fa fa-file-text-o">&nbsp;</i>Receipt'.html_safe, {context: nil, controller: :payeezy_posts, action: :receipt, id: v.id}, target: '_blank', style: 'color: #e00;').html_safe %>		
			</span>
		<% end %>
	</div>
<% end %>
<% if o.invoice? || o.sale? %>
	<%= partial 'invoice_details', o: o, details: o.sale_details.order('sale_details.sort') %>
<% end %>
