<% 

o = @obj 
tpl = o.qb_template
fac = o.qb_customer.try(:facility_address) || ''
pay_to = tpl&.address.presence || <<~ADR
	Monroe County Department of Public Health
	Bureau of Public Health Engineering
	111 Westfall Road, Room 916
	Rochester, NY 14620
ADR
phone = tpl&.phone.presence

colspan = 0
colspan += 2 if o.refund?

tpl = QbTemplate.get_tpl(tpl)

if !o.payment? && !o.ar_refund?
	colspan = colspan + [tpl.show_item_info, tpl.show_item_name, tpl.show_item_desc, tpl.show_item_quantity, tpl.show_item_price, tpl.show_item_amount].count(true)
end

show_invoice_paid_column = false
if o.invoice?
	show_invoice_paid_column = o.sale_details.find &:payment
	colspan += 1
end


%><!doctype html>
<html>
<head>
<style>
html, body { padding: 0; margin: 0; font: 12px/1.5 "Trebuchet MS", Tahoma, sans-serif; box-sizing: border-box; }
body { width: 8in; }
*, *:before, *:after { font-size: inherit; line-height: inherit; font-family: inherit; box-sizing: inherit; }
table { border-spacing: 0; margin: 0; border-collapse: collapse; width: 100%; }
#layout { width: 7.99in; }
thead { display: table-header-group; }
tfoot { display: table-footer-group; }
tr { page-break-inside: avoid }
th, td { padding: 0; text-align: left; vertical-align: top; font-weight: normal; }
.tc { text-align: center !important; }
.tr { text-align: right !important; }
.tl { text-align: left !important; }
.nobr { white-space: nowrap; }
#top-pay { position: absolute; /* top: .2in; left: .3in;*/ top: 0; left: 0; display: table; }
#top-pay > div { display: table-row; }
#top-pay > div > div { display: table-cell; vertical-align: middle; }
#logo { width: 100px; height: 100px; margin-right: 5px; }
#top-bill { position: absolute; width: 3.0in; left: .63in; top: 1.52in; }

#top-fac { position: absolute; width: 3.8in; right: 0; right: -1px; top: 1.52in; }
#top-inv { position: absolute; top: .2in; right: -1px; width: 3.8in; }
#top-space { height: 2.9in; }
#foot-space { height: 3.37in; }
#foot { position: absolute; top: 7.03in; height: 3.37in; width: 100%; border-top: 1px dashed #000; }
#foot-h { text-align: center; padding: 10px; font-weight: bold; }
#foot-info { position: absolute; left: .3in; top: 1.21in; }
#foot-pay { position: absolute; left: .3in; top: 2.22in; }
#foot-bill { position: absolute; left: 4.3in; top: 1.21in; }
#foot-tot { position: absolute; right: 0; bottom: .3in; width: 4in; padding-right: 4px; }
th.bdr, td.bdr, .bdr th, .bdr td { border: 1px solid #000; padding: 2px 4px; }
th.bv, td.bv, .bv th, .bv td { border-left: 1px solid #000; border-right: 1px solid #000; padding: 2px 4px; }
.big { font-size: 140%; }
.lines5 { min-height: 7.5em; }
#paid { position: absolute; left: 2in; top: 3in; border: 5px solid #800; color: #800; padding: 10px; font-size: 60px; opacity: .5; -webkit-transform: rotate(-10deg); -webkit-backface-visibility: hidden; }
.dim { color: #888; }
</style>
</head>
<body>
<table id="layout">
<thead>
	<tr><td colspan="<%= colspan %>">
		<% if o.invoice? && o.balance.to_f == 0 %><div id="paid">PAID <%= o.payments.maximum('sales.date').d %></div><% end %>
		<div style="position: relative;">
			<div id="top-pay">
				<div>
					<div><img src="https://ehpermits.monroecounty.gov/<%= 'dev/' if Rails.env.development? %>mc-seal-black-200x200.png" width="200" height="200" id="logo"></div>
					<div><%= nl2br_h(pay_to) %><% if phone %><br><%= phone %><% end %></div>
				</div>
			</div>
			<div id="top-inv">
				<div class="big tc"><b>
					<% if o.sale? %>
						SALES RECEIPT
					<% elsif o.refund? %>
						REFUND
					<% end %>
				</b></div>
				<table id="date-no" class="right bdr">
					<tr>
						<% if o.sale? %>
							<th width="25%" class="tc">Date</th>
							<th width="25%" class="tc">Sale #</th>
							<th width="25%" class="tc">Pay Method</th>
							<th width="25%" class="tc">Check #</th>
						<% elsif o.refund? %>
							<th width="25%" class="tc">Date</th>
							<th width="25%" class="tc">Refund #</th>
							<th width="25%" class="tc">Refund Method</th>
							<th width="25%" class="tc">Check #</th>
						<% else %>
						<% end %>
					</tr>
					<tr>
						<% if o.sale? %>
							<td class="tc"><b><%= o.date.d4 %></b></td>
							<td class="tc nobr"><b><%= o.num %></b></td>
							<td class="tc"><b><%= o.pay_method %></b></td>
							<td class="tc"><b><%= o.check_no %></b></td>
						<% elsif o.refund? %>
							<td class="tc"><b><%= o.date.d4 %></b></td>
							<td class="tc nobr"><b><%= o.num %></b></td>
							<td class="tc"><b><%= o.pay_method %></b></td>
							<td class="tc"><b><%= o.check_no %></b></td>
						<% end %>
					</tr>
					<% if tpl.show_head_name %>
						<tr><td colspan="<%= o.invoice? ? 3 : 4 %>"><%= %><%= tpl.label_head_name %>: <b><%= o.qb_customer.try(:name) %></b></td></tr>
					<% end %>
				</table>
			</div>
			<div id="top-bill">
				<table class="bdr">
					<tr><th>Bill To</th></tr>
					<tr><td><div class="lines5"><%= nl2br_h bill_to %></div></td></tr>			
				</table>
			</div>
			<% if tpl.show_head_fac %>
				<div id="top-fac">
					<table class="bdr">
						<tr><th><%= tpl.label_head_fac %></th></tr>
						<tr><td><div class="lines5"><%= nl2br_h fac %></div></td></tr>			
					</table>
				</div>
			<% end %>
			<div id="top-space">&nbsp;</div>
		</div>
	</td></tr>
	<tr class="bdr">
			<% if show_invoice_paid_column %><th width="1%" class="nobr">Paid Date</th><% end %>
			<% if o.refund? %><th width="1%" class="tr nobr">Sale #</th><% end %>
			<% if tpl.show_item_info %><th class="nobr"><%= tpl.label_item_info %></th><% end %>
			<% if tpl.show_item_name %><th class="nobr"><%= tpl.label_item_name %></th><% end %>
			<% if tpl.show_item_desc %><th class="nobr"><%= tpl.label_item_desc %></th><% end %>
			<% if tpl.show_item_quantity %><th width="1%" class="tr nobr"><%= tpl.label_item_quantity %></th><% end %>
			<% if tpl.show_item_price %><th width="1%" class="tr nobr"><%= tpl.label_item_price %></th><% end %>
			<% if tpl.show_item_amount %><th width="1%" class="tr nobr"><%= tpl.label_item_amount %></th><% end %>
			<% if o.refund? %><th width="1%" class="tr nobr">Refund</th><% end %>
			<% if o.payment? || o.ar_refund? %><th width="1%" class="tr nobr">Due</th><% end %>
	</tr>
</thead>
<tbody>
	<% if o.invoice? || o.sale? || o.refund? %>
		<% o.sale_details.each { |d| %>
			<tr class="bv">
				<% i = o.refund? ? d.previous : d %>
				<% if o.refund? %><td width="1%" class="tr nobr"><%= i.sale&.num %></td><% end %>
				<% if show_invoice_paid_column %><td class="nobr"><%= d.payment&.date.d %></td><% end %>
				<% if tpl.show_item_info %><td><%= i.item_info %></td><% end %>
				<% if tpl.show_item_name %><td><%= i.item_name_short %></td><% end %>
				<% if tpl.show_item_desc %><td><%= i.item_description %></td><% end %>
				<% if tpl.show_item_quantity %><td class="tr nobr"><% if i.quantity %><%= '%g' % i.quantity.to_f %><% end %></td><% end %>
				<% if tpl.show_item_price %><td class="tr nobr"><% if i.is_percent %><%= '%g' % i.price.to_f %>%<% else %>$<%= n2 i.price %><% end %></td><% end %>
				<% if tpl.show_item_amount %><td class="tr nobr">$<%= n2 i.amount %></td><% end %>
				<% if o.refund? %><td class="tr nobr">$<%= n2 d.amount %></td><% end %>
			</tr>
		<% } %>
	<% end %>
</tbody>
<tfoot>
	<% if o.invoice? || o.sale? || o.refund? %>
		<tr><td class="bdr tr big" colspan="<%= colspan %>">Total: <b>$<%= n2 o.amount %></b></td></tr>
	<% end %>
</tfoot>
</table>
</body>
</html>