<!DOCTYPE html>
<html class="<%= [Rails.env.development? ? 'dev' : 'pro'].reject(&:blank?) * ' ' %>">
<head>
  <title><%= APP_HUMAN_NAME %> (<%= Rails.env %>)</title>
  <%= stylesheet_link_tag(
  	'/font-awesome-4.7.0/css/font-awesome.min.css',
  	'/jquery-ui-1.11.4.custom/jquery-ui.css',
  	'/select2/css/select2.css',
		'/jquery.floatingscroll.css',
  	'/pikaday/pikaday.css',
  	'/handsontable-0.34.0/handsontable.css',
  	'/style.css?v2', 
		media: 'all'
	) %>
<%= stylesheet_link_tag(
  	'/print.css',
		media: 'print'
	) %>	
  <script>
  	var ROOT_URL = '<%= root_url %>';
  	<%= flash[:js] %>
  </script>
  <%= javascript_include_tag(
  	'/jquery-1.12.3.js',
  	'/jquery-ui-1.11.4.custom/jquery-ui.js',
  	'/jQuery-File-Upload-9.12.3/js/jquery.fileupload.js',
  	'/jquery.stickytableheaders.min.js',
		'/jquery.floatThead._.js',
		'/jquery.floatThead.js',
  	'/jquery.inputmask-4.0.1.bundle.js',
  	'/jquery-ui.multidatespicker.js',
  	'/jquery.floatingscroll.js',
  	'/jquery.cardswipe-old.js',
  	'/dragcheck.js',
  	'/ckeditor/ckeditor.js',
  	'/numbro/numbro.js',
  	'/moment/moment.js',
  	'/pikaday/pikaday.js',
  	'/handsontable-0.34.0/handsontable.js',
  	'/js.cookie.js',
  	'/select2/js/select2.full.js',
  	'/date.js',
  	'/colResizable-1.6.min.js',
  	'/rails.js',
  	'/script.js'
  ) %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body id="app">
  
	<% if !params[:popup] %>
		<%= partial 'env' %>
		<%= partial 'nav_top' %>
	<% end %>
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:alert] %>
		<%= partial 'errors', errors: [flash[:alert]] %>
	<% end %>
	<%= partial 'nav' %>
  <%if @obj %>
  	<% (@obj.errors || []).each do |attr, msg| %>
      <li style="color:red;padding: 10px;margin-left: 50px;">
        <%= @obj.errors.full_messages_for(attr).first if @obj.errors[attr].first == msg %>
      </li>
    <% end %>
  <% end %>

  <br>
	<%= yield %>
  <% if !params[:popup] %>
		<div id="pop1" style="display: none;" onclick="_close_popup(); return false;">
			<div id="popl"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
			<div id="pop2"><a href="#" id="popc" class="red" onclick="_close_popup(); return false;"><i class="fa fa-times"></i></a><iframe id="popi" onload="window._popup_load();"></iframe>
		</div>
	<% end %>
</body>
</html>
