<!DOCTYPE html>
<html
	xmlns:o="urn:schemas-microsoft-com:office:office" 
	xmlns:w="urn:schemas-microsoft-com:office:word">
<head>
<style>
<%= IO.read('public/ckeditor.css').html_safe %>
<% o = @obj %>

body.fmt-pdf { width: <%= 8.5 - (o.margin_left || 1) - (o.margin_right || 1) %>in; padding: 0; }
body.fmt-html { width: 8.5in; 
	padding-top: <%= o.margin_top || 1 %>in; 
	padding-bottom: <%= o.margin_bottom || 1 %>in; 
	padding-left: <%= o.margin_left || 1 %>in; 
	padding-right: <%= o.margin_right || 1 %>in; 
}
body.fmt-doc { width: 8.5in; padding: 0; }

@page Section1 { size: 8.5in 11.0in; 
	margin-top: <%= o.margin_top || 1 %>in; 
	margin-bottom: <%= o.margin_bottom || 1 %>in; 
	margin-left: <%= o.margin_left || 1 %>in; 
	margin-right: <%= o.margin_right || 1 %>in;  
}
div.Section1 { page: Section1; }

</style>
<!--[if gte mso 9]>
<xml>
<w:WordDocument>
<w:View>Print</w:View>
<w:Zoom>90</w:Zoom>
<w:DoNotOptimizeForBrowser/>
</w:WordDocument>
</xml>
<![endif]-->
</head>
<body class="fmt-<%= @fmt %>">
<div class="Section1"><%= yield %></div>
</body>
</html>