<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= DEPT %> Payments</title>
	<%= stylesheet_link_tag(
		'/pay.css', 
		'/font-awesome-4.7.0/css/font-awesome.css'
	) %>
	<%= javascript_include_tag '/jquery-1.12.3.min.js' %>
</head>
<body>
	<div id="wrap">
		<div id="head"><h1>Monroe County, NY<br>
		<%= DEPT %><br>
		Online Payments</h1></div>
		<%= yield %>
	</div>
</body>
</html>